@main("预约服务者 -- helome服务交流平台"){
    <script type="text/javascript">
        ued_import('commonCss','css');
        ued_import('userOrderCss','css');
    </script>
} {
	<div id="content" class="user-order">
		<div class="search-block clearfix">
			<div class="search-left">
				<div class="search-head"><a href="/expert/22"><img src="/assets/misc/images/dev-head2.png" height="191" width="191" alt=""/></a></div>
			</div>
			<div class="search-center">
				<p class="name clearfix"><a href="/expert/1">李四</a><span class="job">网络安全专家</span><img class="country" src="/assets/misc/images/flag/001.gif" width="16" height="11" alt="china" /><span class="cost">资费：<span>$1/分</span></span></p>
				<p class="date">加入日期：2013-11-07</p>
				<p class="introduce">
				这是我的个人说明，我可以很短，但最长不超过一定的字数限制，这是我的个人说明，我可以很短，但最长不超过一定的字数限制，这是我的个人说明，我可以很短，但最长不超过一定的字数限制，这是我的个人说明，我可以很短，但最长不超过一定的字数限制。
				</p>
				<p class="skill">
					<a>UI设计</a><a>UI设计</a><a>UI设计</a><a>UI设计</a><a>UI设计</a><a>UI设计</a><a>UI设计</a><a>UI设计</a><a>UI设计</a><a>UI设计</a><a>UI设计</a><a>UI设计</a><a>UI设计</a><a>UI设计</a>
				</p>
			</div>
		</div>
		<div id="orderContainer">
			
		</div>
	</div>
    <script type="text/javascript">
        ued_import('commonJs','js');
        ued_import('userOrderJs','js');
    </script>
}