@charset "utf-8";
/*
* @description: 注册样式
* @author: Zhang Guanglin
* @update: 
*/
.dialog-panel{
    text-align: left;
    min-width: 280px;
}
.dialog-tit {
	border-bottom: 1px solid #dcdcdc;
	height: 26px;
}
.dialog-tit .span-left {
	float: left;
	color: #1b1b1b;
	font: 16px 'Microsoft Yahei';
	display: inline-block;
	height: 26px;
	border-bottom: 1px solid #666;
}
.dialog-tit .span-right {
	font-size: 12px;
	float: right;
	color: #a0a0a0;
	margin-top: 7px;
}
.dialog-tit .span-right a {
	color: #4083a9;
	margin-left: 5px;
}
.dialog-table {
	margin: 20px 0 10px 0;
	text-align: left;
}
.dialog-table td {
	/*height: 46px;*/
	padding: 5px 0px;
}
.dialog-table .right {
	font-size: 14px;
	color: #434343;
	padding-right: 20px;
}
.dialog-table .tips{
	font-size: 12px;
	color: #aaa;
	margin-left: 20px
}

.dialog-table .radio-title{
	text-align: left;
	color: #8c8c8c;
	top: -1px;
	position: relative;
	margin: 0px 2px;
}
/*所有弹出框感叹号提示样式*/
.dialog-msg-bg {
	height: 42px;
	width: 42px;
	display: inline-block;
	background: url(i/icon-red.png) -57px -130px no-repeat;
	position: absolute;
}
.code {
	position: relative;
	top: 0;
	margin-left: 5px;
}
.replace-code {
	position: relative;
	top: -12px;
	margin-left: 10px;
	color: #4083a9;
	font-size: 13px;
}
.dialog-bottom {
	text-align: left;
}
.dialog-reg-bottom .btn-two {
	margin-left: 75px;
}
.dialog-login-bottom .btn-two {
}
.dialog-bottom .btn-three {
	margin-left: 10px;
}
.register_success p {
	text-align: center;
}
.success-msg {
	margin-top: 20px;
	height: 32px;
	line-height: 32px;
}
.success-msg .bg {
	background: url(i/icon-dialog.png) -29px 0 no-repeat;
	height: 32px;
	width: 32px;
	display: inline-block;
}
.success-msg .txt {
	height: 32px;
	line-height: 32px;
	display: inline-block;
	font-weight: 600;
	font-size: 16px;
	color: #4caa49;
	position: relative;
	top: -7px;
	margin-left: 10px;
}
.success-link {
	margin-top: 30px;
	margin-bottom: 10px;
}

.forget-password {
	color: #4083a9;
	font-size: 13px;
	float: right;
}
.dialog-table label {
	font-size: 13px;
	color: #999;
}
.dialog-table .error-msg {
	color: #d5544e;
    height: 12px;
    line-height: 12px;
    padding-top: 10px;
}
.forget-password-main .goReg,
.forget-password-main .goLogin,
.reset-password-main .goReg,
.reset-password-main .goLogin,
.find-password-succeed-main .goReg,
.find-password-succeed-main .goLogin {
	text-decoration: underline;
	margin-left: 10px;
	position: relative;
	top: 5px;
}
.forget-password-main .btn-two {
	margin-left: 62px;
}
.find-password-main {
	width: 410px;
}
.find-password-tips {
	margin: 30px 0 20px 50px;
	color: #666;
	line-height: 2;
	position: relative;
}
.find-password-tips a {
	color: #e06b64;
	text-decoration: underline;
}
.find-password-tips .dialog-msg-bg {
	left: -50px;
	top: 0;	
}
.forword-mail {
	text-align: center;
}
.reset-password-main {
	font-size: 14px;
	color: #434343;
}
.reset-password-main span {
	color: #e06b64;
	font-weight: 600;
}
.reset-password-main .password-status {
	margin-left: 0;
}
.find-password-succeed-main {
	width: 380px;
	padding-bottom: 40px;
}
.find-password-succeed-tips {
	text-align: center;
	line-height: 2;
	height: 90px;
	margin-top: 60px;
}
.password-congr {
	font-size: 16px;
	font-weight: 600;
	color: #4caa49;
	position: relative;
	top: -8px;
	margin-left: 10px;
}
.seconds-return {
	color: #8c8c8c;
}