@(expert: vo.ExpertDetailInfo)
@main("收费方式 -- 我的资料 -- 个人中心"){
    <script type="text/javascript">
        ued_import('commonCss','css');
        ued_import('userDetailCss','css');
    </script>
} {
	<div id="content" class="clearfix">
		@usercenter.left("userdetail")
		<div class="main">
			<div class="user-info user-detail" id="user-info">
				<ul class="tab-menu clear">
					<li><a class="tab-menu-left" href="/user/userdetail/base">个人信息</a></li>
					<li><a href="/user/userdetail/userhead">个人头像</a></li>
					<li><a href="/user/userdetail/workinfo">职业经历</a></li>
					<li><a href="/user/userdetail/eduinfo">教育经历</a></li>
					<li class="current"><a href="javascript:;">收费方式</a></li>
				</ul>
				<div class="user-content clearfix mt10">
					<div class="user-info-block clearfix">
						<div class="info-key">收费标准：</div>
						<!-- 如果为预约状态 <div class="info-value txt-red">空闲</div> -->
						<div class="info-value info-value-service w600 clearfix">
                            <p class="clearfix none">
                                <span class="mr10">
                                    <span class="user-pay-text">￥</span>

                                    @if(expert.getPayType().equals("NEGOTIABLE")){
                                        <input type="text" id="service-input-money" name="cost" placeholder="金额" class="txt txt-short top-back6" value="面议" maxlength="7"/>
                                    }
                                    @if(expert.getPayType().equals("TIMEBILL")){
                                        <input type="text" id="service-input-money" name="cost" placeholder="金额" class="txt txt-short top-back6" value="@expert.getExpenses()" maxlength="7"/>
                                    }
                                    <span class="user-pay-text">/分钟</span>
                                    <i class="icon icon-tips cost-detail"></i>
                                </span>
                            </p>
                            <p class="clearfix">
                                <label for="service-free">

                                    <input id="service-free" type="radio"
                                     @if(expert.getExpenses() == "0" && expert.getPayType() == "TIMEBILL"){
                                        checked="checked"
                                     }
                                     name="remember" value="0" />
                                    <span>免费</span>
                                </label>
                            </p>
                            <p class="clearfix bbn">
                                <label for="service-discuss">
                                    <input id="service-discuss" type="radio"
                                    @if(expert.getPayType() == "NEGOTIABLE"){
                                        checked="checked"
                                    }
                                     name="remember" value="-1" />
                                    <span>面议</span>
                                </label>
                                <i class="icon icon-tips cost-discuss"></i>
                            </p>
                            <span class="tips tips-right tips-set-money"></span>
						</div>
					</div>
					<div class="user-info-block clearfix">
						<div class="info-key">&nbsp;</div>
						<div class="info-value w650">
							<input type="button" value="保存" class="btn-default btn-lg btn-green btn-padding-50 btn-user-info-save">
							<span class="save-ok none" style="left:280px;"><em class="icon"></em><span></span></span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
    <script type="text/javascript">
        ued_import('commonJs','js');
        ued_import('userServiceJs','js');
    </script>
}

