.search-block {
	padding: 20px 0px;
	border-bottom: 1px dashed #ddd;
	min-height: 130px;
/*	padding-bottom: 20px;
	margin-bottom: 20px;*/
}

/* 头像 */
.search-head {
	height: 114px;
	width: 114px;
	position: relative;
	background: #e1e1e1;
	border-radius: 114px;
	margin:0 auto;
	display: block;
	float: left;
}

.search-head .search-head-img{
	height: 106px;
	width: 106px;
	margin: 4px auto auto 4px;
	border-radius: 128px;
}

/*************************search center*******************/

.search-center {
	width: 440px;
	margin-left: 30px;
	font-size: 14px;
	position: relative;
	float: left;
}
.search-center p{
	margin-bottom: 5px;
	color: #40526a;
	word-break: break-all;
	word-wrap: break-word;
}

.search-center .name{
	color: #3a7cdb;
	font-weight: bold;
	position: relative;
	font-size: 16px;
}

.search-center .name a {
	color: #3a7cdb;
    display: inline-block;
    max-width: 240px;
    overflow: hidden;
    word-break: break-all;
    word-wrap: break-word;
    vertical-align: middle;
    white-space: nowrap;
    text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -moz-binding: url("ellipsis.xml#ellipsis");
}

.search-center .name .job {
	font-size: 14px;
	color: #707070;
	font-weight: normal;
	margin-left: 10px;
    display: inline-block;
    max-width: 240px;
    overflow: hidden;
    height: 21px;
}

.search-center .info{
	font-size: 12px;
	color: #8595C9;
	margin: 12px 0px 5px 0px;
}

.search-center .info span{
	margin-right: 15px;
}

.search-center .introduce {
	overflow: hidden;
	position: relative;
	line-height: 1.5em;
	color: #91a0b3 !important;
	font-size: 12px;
	word-break: break-all;
	word-wrap: break-word;
	min-height: 36px;
	padding-right: 10px;
	text-align: left!important;
}

.skill{
	color: #fff
}

.skill > a,
.skill > span,
.skill .search-marked{
	border-radius: 3px;
	padding: 1px 6px;
	color: #fff;
	border: 1px solid #6191df;
	background: #6191df;
	font-size: 12px;
	text-decoration: none;
	margin: 5px 5px 0 0;
	display: inline-block;
	float: left;
}

.skill a:hover{
    background: #3a75d7;
    border-color: #3a75d7;
    color: #fff;
}

/**** search-right ****/
.search-right {
	width: 160px;
	margin-left: 30px;
	border-left: 1px #ddd dashed;
	padding-left: 20px;
	float: left;
	min-height: 120px;
}

.search-right .btn-block{
	margin: 0 auto auto 0px;
	text-align: center;
}

.btn-block .btn-contact,
.btn-block .btn-join{
	width: 90px;
	margin: auto auto 10px auto;
	display: block;
}

/* 搜索无结果 */
.no-result {
	clear: both;
	/*width: 375px;*/
	margin: 30px auto auto 250px;
	display: inline-block;
}
.no-result-one {
}
.no-result-one span{
	height: 43px;
	line-height: 43px;
	font-size: 16px;
	font-family: 'Microsoft Yahei';
	color: #1b1b1b;
	display: inline-block;
	float: left;
}
.no-result-one em {
	height: 43px;
	width: 42px;
	display: inline-block;
	background: url(i/icon-red.png) -57px -130px no-repeat;
	margin-right: 20px;
	float: left;
}
.no-result-two {
	color: #e06b64;
	font-weight: 600;
	font-size: 14px;
	margin: 0px auto auto 63px;
}
.no-result-three {
	font-size: 14px;
	color: #8a8a8a;
	margin: 5px auto auto 50px;
}
.no-result-three a {
	color: #4083a9;
	font-size: 14px;
	text-decoration: underline;
	margin-left: 5px;
}

.noMore {
    text-align: center;
    padding: 10px 0;
    background: #EEE;
    border-radius: 5px;
    color: #666;
}

/* panel */
.panel{
	border: 1px solid #d4d9df;
	border-radius: 5px;
	font-size: 14px;
	color: #40526a;
}

.panel .panel-title{
	border-bottom: 1px solid #d4d9df;
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #fff),
        color-stop(1, #f0f0f0)
    );
    background-image: -o-linear-gradient(bottom, #fff 0%, #f0f0f0 100%);
    background-image: -moz-linear-gradient(bottom, #fff 0%, #f0f0f0 100%);
    background-image: -webkit-linear-gradient(bottom, #fff 0%, #f0f0f0 100%);
    background-image: -ms-linear-gradient(bottom, #fff 0%, #f0f0f0 100%);
    background-image: linear-gradient(to bottom, #fff 0%, #f0f0f0 100%);
    background-color: #f8f8f8;
    font-weight: bold;
    border-radius: 6px 6px 0px 0px;
    padding: 12px 15px;
}

.panel .panel-content{
	padding: 15px;
}


.tab-group-title{
    padding: 15px;
    text-align: center;
    border-bottom: 1px dashed #ddd;
}
.tab-group-title .btn-default{
    padding: 8px 24px;
}
.tab-group-title .add-group{
    width: 29px;
    height: 16px;
    background-position: -14px -260px ;
}
.tab-group-title .add-member{
    width: 22px;
    height: 16px;
    background-position: -48px -260px ;
}

.load-more-btn{
	width: 150px;
	display: block;
	margin: 0px auto;
}

/* dialog */
.apply-block{
    padding:20px;
	width: 350px;
}