/**
 * @description: 手机客户端下载页面
 * @author: Young Foo(young.foo@helome.com)
 * @update: Young Foo(young.foo@helome.com)
 */

.banner{
	background-image: url("i/phone/phone_banner.jpg");
 	height: 574px;
 	background-position: center;
}

.banner .banner-btn-box{
	position: absolute;
	left: 505px;
	top: 190px;
}

.banner .banner-android{
 	background-image: url("i/phone/phone_android.png");
 	width: 185px;
 	height: 66px;
 	display: block;
}

.banner .banner-apple{
	background-image: url("i/phone/phone_apple.png");
 	width: 185px;
 	height: 66px;
 	display: block;
 	margin: 10px 0px 10px 0px;
}

.banner .banner-qrcode{
	background-image: url("i/phone/phone_qrcode.jpg");
	width: 185px;
	height: 186px;
}

.phone-info{
	background-image: url("i/phone/phone_info.jpg");
	width: 708px;
	height: 225px;
	margin: 40px auto;
}