@charset "utf-8";
/*
* @description: 我的圈
* @author:zhiqiang.zhou@helome.com
* @update:
*/

.tab-table td, .tab-table th {
    height: 156px;
    padding: 10px 0;
}
.search-center{
    width: 530px;
    margin: 0;
    padding-left: 20px;
}
.search-head{
    margin-left: 20px;
}