@charset "utf-8";
/*
* @description: 个人中心个人资料与开发者详情公共布局样式
* @author:Zhang Guanglin(zhangguang.lin@163.com)
* @update:Young Foo(Young.foo@helome.com)
*/

/* left bar */
.left-bar {
	float: left;
	width: 185px;
}
.color-blue {
    color: #3a75d7;
}
.color-blue-grey {
    color: #627690;
}
.color-blue-light {
    color: #a9b2bf;
}

.left-bar .user-center-title {
	font-size: 16px;
	color: #fff;
	font-weight: 800;
	position: relative;
    background: #3a75d7;
	height: 50px;
    border-bottom: 4px solid #195dbf;
	text-align: center;
	line-height: 50px;
	border-radius: 5px 5px 0 0;
}
.left-bar .user-center-title em {
	height: 20px;
	width: 20px;
	display: inline-block;
	background: url(i/icon-red.png) 0 -175px no-repeat;
	position: relative;
	margin: auto 5px auto 25px;
	top: 6px;
}

.title-list {
	border: 1px solid #d4d9df;
    border-top: 0;
	background: #fff;
}

.title-list a {
	display: block;
	line-height: 1em;
	font-size: 14px;
	color: #627690;
	text-align: left;
	border-left: 2px solid #fff;
	padding: 18px 0px;
	position: relative;
	font-weight: 800;
	border-bottom: 1px solid #e6eaef;
	background: #f5f7f9;
}
.title-list a:hover,
.title-list a.current {
	text-decoration: none;
	color: #3a75d7;
	background: #fff;
}

.title-list a em{
	position: absolute;
	top: 16px;
	top: 17px\0;
	*top: 18px;
	left: 20px;
	display: block;
	height: 18px;
	width: 18px;
	background: url(i/icon-red.png) no-repeat;
}
.title-list a span{
	margin: 0px 0px 0px 50px;
}

/* icon */
.title-list .title-one em {
    background-position: 1px -304px;
}
.title-list .title-two em {
    /*background-position: -17px -303px;*/
    background-position: -89px -305px;
}
.title-list .title-service em {
    width: 20px;
    height: 8px;
    margin-top: 4px;
    background-position: -44px -346px;
}
.title-list .title-require  em {
    width: 12px;
    margin-left: 3px;
    background-position: -60px -368px;
}
.title-list .title-groups em {
    width: 22px;
    margin-left: -1px;
    background-position: -345px -306px;
}
.title-list .title-three em {
    background-position: -126px -304px;
}
.title-list .title-at em {
    background-position: -325px -304px;
}
.title-list .title-invitation em {
    background-position: -149px -346px;
}
.title-list .title-four em {
    background-position: -106px -304px;
}
.title-list .title-five em {
    background-position: -34px -304px;
}
.title-list .title-six em {
    background-position: -53px -304px;
}
.title-list .title-seven em {
    background-position: -70px -304px;
}
.title-list a.title-one:hover em,
.title-list a.title-one.current em {
	background-position: 1px -326px;
}
.title-list a.title-two:hover em,
.title-list a.title-two.current em {
    /*background-position: -17px -325px;*/
    background-position: -89px -327px;
}
.title-list a.title-service:hover em,
.title-list a.title-service.current em {
    background-position: -44px -356px;
}
.title-list a.title-require:hover em,
.title-list a.title-require.current em {
    background-position: -74px -368px;
}
.title-list a.title-groups:hover em,
.title-list a.title-groups.current em {
    background-position: -345px -327px;
}
.title-list a.title-three:hover em,
.title-list a.title-three.current em {
    background-position: -126px -325px;
}
.title-list a.title-at:hover em,
.title-list a.title-at.current em {
    background-position: -325px -325px;
}
.title-list a.title-invitation:hover em,
.title-list a.title-invitation.current em {
    background-position: -149px -365px;
}
.title-list a.title-four:hover em,
.title-list a.title-four.current em {
    background-position: -106px -326px;
}
.title-list a.title-five:hover em,
.title-list a.title-five.current em {
    background-position: -34px -326px;
}
.title-list a.title-six:hover em,
.title-list a.title-six.current em {
    background-position: -53px -326px;
}
.title-list a.title-seven:hover em,
.title-list a.title-seven.current em {
    background-position: -70px -326px;
}

/* 右边部分 */
.main {
	float: left;
	margin-left: 15px;
	width: 780px;
}
.user-info{
    border: solid 1px #d4d9df;
    border-radius: 5px;
    padding-bottom: 15px;
    /*overflow: hidden;*/
    position: relative;
}
.user-content{
	padding: 10px 20px 10px 20px;
	position: relative;
	font-size: 14px;
}

.user-info-block {
    margin-bottom: 15px;
    position: relative;
}
.user-info-block .info-key {
	width: 80px;
	min-width: 80px;
	text-align: right;
	color: #40526a;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: middle;
}
/** 修复 info-key 垂直定位的问题**/
.user-info-block .special{
    vertical-align: top;
    position: relative;
    top: 12px;
}
.info-maxlong-key .info-key{
	width: 130px;
}

.user-info-block .info-value {
	text-align: left;
	width:550px;
	color: #40526a;
    display: inline-block;
    *display: inline;
    *zoom:1;
    vertical-align: middle;
}

.user-info-block .info-value .tips-bottom{
    margin-top: 5px;
    color: red;
}

.user-info-block .info-value .tips .num{
    font-family: Constantia, Georgia;
    font-size: 18px;
    font-weight: bold;
}
.user-info-block .info-value .tips-right{
    font-size: 12px;
    color: red;
}
.user-info-block .info-value .introduction-tips{
    color: #666;
}
.save-ok {
	padding: 8px 8px 8px 30px;
	border: 1px solid #e1f0b6;
	border-radius: 5px;
	background: #e1f0b6;
	color: #85b200;
	font-size: 12px;
	position: absolute;
	top: 2px;
	left: 230px;
}
.save-ok em {
	height: 16px;
	width: 16px;
	background-position: -157px -45px;
	position: absolute;
	top: 9px;
	left: 8px;
}

/* 页码 */
.page-user-bottom {
	float: right;
	margin: 10px 10px 0 0;
}

/* 头部tab 5.0 */
.tab-menu {
    border-bottom: 3px solid #d4d9df;
    background: #f5f7f9;
    height: 48px;
    border-radius: 5px 5px 0 0;
    position: relative;
}
.tab-menu-left{
    border-radius: 5px 0 0 0;
}

.tab-menu > li {
    border-right: solid 1px #d4d9df;
    float: left;
    display: inline-block;
    position: relative;
}
.tab-menu > li > a {
    font-size: 16px;
    color: #627690;
    display: block;
    line-height: 48px;
    padding: 0 20px;
    font-weight: bolder;
    background: #f5f7f9;
}
.tab-menu > li > i{
    position: absolute;
    top: 8px;
    right: 10px;
}
.tab-menu > li > a:hover {
    text-decoration: none;
    color: #3a75d7;
}
.tab-menu > li.current a {
    color: #3a75d7;
    border-bottom: solid 3px #FFFFFF;
    background: #fff;
}

/* tips ok */
.save-ok-head{
	top: 460px !important;
	left: 30px !important;
}

.save-ok-list{
	left: 190px !important;
}

/*for search in user-center*/
.search-box{
    padding: 20px;
    border-bottom: dashed 1px #ddd;
    min-height: 40px;
}
.search-box .search-left{
    position: relative;
    width: 636px;
}
.like-txt{
    border: 2px solid #d4d9df;
    border-radius: 5px;
    font-size: 13px;
    color: #40526a;
    background: #fff;
}
.like-txt label{
    text-align: right;
    width: 24px;
    height: 38px;
    cursor: pointer;
}
.like-txt input{
    border:0 none;
    vertical-align: baseline;
}
.search-box .like-txt #keyWord{
    width: 560px;
}
.search-box .search-left .search-left-top{
    width: 627px;
    padding-top: 2px;
}
.search-box .search-left .select-i{
    margin:16px 8px auto auto;
    width: 10px;
    height: 6px;
    cursor: pointer;
    background-position: -22px -44px;
}
.search-box .btn-default .icon{
    margin: 4px 0;
    cursor: pointer;
    vertical-align: middle;
    width: 17px;
    height: 17px;
    background-position: -16px -24px;
}

/*banner*/
.user-info-map{
    text-align: left;
    border-bottom: 1px dashed #ddd;
}
.user-info-map td{
    height: 50px;
    line-height: 50px;
}
.user-info-map-content{
    padding: 0 20px;
    height: 50px;
    line-height: 50px;
    font-size: 14px;
    vertical-align: middle;
    font-weight: bold;
    color: #627690;
    background: #f5f7f9;
}
.user-info-map-content a{
    display: inline-block;
}

/*页标题*/
.user-nav {
    border-bottom: dashed 1px #d4d9df;
    line-height: 22px;
    padding: 15px 0;
    margin-bottom: 20px;
}
/* overflow ellipsis */
.ellipsis{
    display: inline-block;
    text-decoration: none;
    word-break: break-all;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}