.fav-list .search-head{
	margin: 0px;
	float: left;
}

.fav-list .fav-list-main{
	min-height: 128px;
	padding: 20px;
}

.fav-list .btn-delete{
	background-position: -220px -304px;
	height: 19px;
	width: 19px;
	margin-right: 20px;
}

.fav-list .search-center{
	width: 550px;
}