@main("修改手机号码邮件发送成功"){
    <script type="text/javascript">
        ued_import('commonCss','css');
        ued_import('singleCss','css');
    </script>
} {
 	<div id="content">
        <div class="main">
            <!--LOGO开始-->
            <div class="main-logo"></div>
            <!--LOGO结束-->
            <!--找回密码表单开始-->
            <div class="main-panel main-panel-center">
                <div class="main-head">
                    <span class="span-left">修改手机号码</span>
                </div>
                <p class="main-panel-tips">
                    <span class="dialog-msg-bg"></span>
                    我们已经把验证邮件发送至您的邮箱，请在10分钟内通过邮件内的链接重新设置新的手机号码。<br/>
                    如果没有收到？<br/>
                    请到您邮箱的垃圾邮件里找找，或者&nbsp;<input type="button" disabled="true" class="btn-default btn-disabled btn-xs btn-reSend" value="重新发送邮件(60)"/>
                </p>
            </div>
            <!--找回密码表单结束-->
        </div>
    </div>
	<script type="text/javascript">
        ued_import('commonJs','js');
        ued_import('phoneEmailSuccessJs','js');
	</script>
}
