@()
<!DOCTYPE HTML>
<html lang="zh-cn">

<head>
    <meta charset="utf-8" />
    <title>关于MeToMe -- helome服务交流平台</title>
    <meta name="keywords" content="关于helome,关于me2me,服务交易,服务咨询,在线视频咨询,在线服务,服务交流平台">
    <meta name="description" content="helome是一个涵盖IT、教育、医疗、法律等众多领域的Me2Me模式综合服务交流平台。helome，来源于英文中的”Hello, Me”，寓意在互联网世界里的每个Me（个体）都可以参与到服务中，提升自我，实现价值。">
    <script type="text/javascript" src="@routes.Assets.at("misc/dist/v20131021/ued.import.js")" charset="utf-8"></script>
    <link rel="icon" href="@routes.Assets.at("/misc/images/favicon.ico")"/>
    <!--[if IE]><script type="text/javascript"> ued_import('canvasJs','js'); </script><![endif]-->
    <script type="text/javascript">
        ued_import('commonCss','css');
        ued_import('aboutUsCss','css');
    </script>
</head>
<body>
<div id="wrap">
    <!--头部开始-->
    @head("")
    <!--头部结束-->
    <div id="container" class="doc">
        <!--banner开始-->
        @banner()
        <!--banner结束-->
        <!--关于我们内容开始-->
        <div class="container doc-main">
            <!--关于我们开始-->
            <div class="doc-title mb20">关于Me2Me</div>
            <!--关于我们结束-->
            <div class="doc-list">
                <div class="doc-list-block">
                    <h2><em></em><span class="title">什么是Me2Me模式？</span></h2>
                    <div class="content">
                        <p class="t2">Me2Me模式是由helome率先提出，该模式是指在互联网尤其是移动互联网，个体与个体之间的服务交流。个体既可以是服务的提供者，也可以是服务的需求者，并且个体的价值与品牌不再依赖于公司的品牌而独立存在。正如尼克•比尔顿在他的《生活在未来》所写到：“我们的注意力与信心正在转向网络中的个体（Me），而远离传统的公司与他们的品牌。</p>
                        <p class="t2">“Me”既是消费者，也是服务提供者；在移动互联网的时代，每个人都可随时在线，每个me都有自己的圈子，移动互联网就是将这无数的个人圈子连接起来。而helome平台正是基于me2me的模式，将本来分开的两者之间的服务完美的融合在一起。</p>
                    </div>
                </div>
                <div class="doc-list-block">
                    <h2><em></em><span class="title">Me2Me商业模式的特点：</span></h2>
                    <div class="content">
                        <p>1、Me2Me为个人的服务交流提供了一个免费的中介平台</p>
                        <p class="ml20">Me2Me是依托互联网为个人提供一个信息浏览、咨询、交易及后续服务的平台。这里Me2Me的核心作用是中介，不作为交易的主体。服务双方平等自由。</p>
                        <p>2、Me2Me服务双方参与的广泛性</p>
                        <p class="ml20">Me2Me的参与者极其分散和广泛。每个人都分散在世界不同的地方，但每个me都有自己的圈子。个体既可以是服务提供者，也可以是服务需求者，都可通过Me2Me模式的互联网平台随时进行交流，这一形式使得服务更加自由，参与群体更加广泛。</p>
                        <p>3、服务交易地点、方式的灵活高效</p>
                        <p class="ml20">Me2Me的服务双方可通过“聊天”与对方先进行沟通，与对方协商服务时间、地点及交易方式。地点可以是线上或线下。方式也可以是私下或平台上交易。综上所述，Me2Me既满足了个体市场化的需求，又实现了个人知识、信息的传播与共享，且参与形式灵活多变。在移动互联网占据主导的今天，Me2Me将彻底改变个人信息分享方式，让每个Me在互联网世界里都可以参与到服务中，提升自我，实现价值。 </p>
                    </div>
                </div>
                <div class="doc-list-block">
                    <h2><em></em><span class="title">Me2Me与传统的C2C区别如下：</span></h2>
                    <div class="content">
                        <p>1、C2C指在互联网里面消费者与消费者的货物交易；Me2Me指个人与个人之间服务的交易。 </p>
                        <p>2、C2C中C是依附于B（商业公司）存在；Me2Me中的Me并不依赖于B而独立存在。</p>
                        <p>3、C2C是基于商品的一次交易；Me2Me是一个持续的交易过程，服务不是一次性的，而是一种持续的过程。</p>
                        <p>4、C2C双方更关注的是货物本身；Me2Me更关注的是每个me的诚信度和知名度的建设。</p>
                        <p>5、C2C中的C是指consumer，即被动的消费者、接受者，没有社交与协同；Me2Me中的Me不仅仅是网络的节点，更是网络的中心，是服务与社交的结合。</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @foot()
    <!--关于我们内容结束-->
</div>
<script type="text/javascript">
    ued_import('commonJs','js');
    ued_import('docPageJs','js');
</script>
</body>
</html>

