@()
<!DOCTYPE HTML>
<html lang="zh-cn">
<head>
    <meta charset="utf-8" />
    <title>关于helome -- helome服务交流平台</title>
    <meta name="keywords" content="关于helome,关于me2me,服务交易,服务咨询,在线视频咨询,在线服务,服务交流平台">
    <meta name="description" content="helome是一个涵盖IT、教育、医疗、法律等众多领域的Me2Me模式综合服务交流平台。helome，来源于英文中的”Hello, Me”，寓意在互联网世界里的每个Me（个体）都可以参与到服务中，提升自我，实现价值。">
    <script type="text/javascript" src="@routes.Assets.at("misc/dist/v20131021/ued.import.js")" charset="utf-8"></script>
    <link rel="icon" href="@routes.Assets.at("/misc/images/favicon.ico")"/>
    <!--[if IE]><script type="text/javascript"> ued_import('canvasJs','js'); </script><![endif]-->
    <script type="text/javascript">
        ued_import('commonCss','css');
        ued_import('aboutUsCss','css');
    </script>
</head>
<body>
<div id="wrap">
    <!--头部开始-->
    @head("")
    <!--头部结束-->
    <div id="container" class="doc">

        <!--banner开始-->
        @banner()
        <!--banner结束-->
        <!--关于我们内容开始-->
        <div class="container doc-main about-us">
            <!--关于我们开始-->
            <div>
                <div class="doc-title">关于helome</div>
                <p class="doc-content">
                　　helome是一个涵盖IT、教育、医疗、法律等众多领域的综合服务交流平台。helome，来源于英文中的”Hello, Me”，寓意在互联网世界里的每个Me（个体）都可以参与到服务中，提升自我，实现价值。<br><br>
                　　helome的世界里，每个me都拥有知识特长，每个me都渴望积极进取和成长，每个me都可以随时随地通过音视频“面对面”沟通，枯燥乏味的交流过程从此变得生动丰富。<br><br>
                　　helome率先提出Me2Me模式，该模式是指在互联网尤其是移动互联网，个体与个体之间的服务交流。同时个体既可以是服务提供者，也可以是服务需求者，并且个体的价值与品牌不再依赖于公司的品牌而存在。正如尼克·比尔顿在他的《生活在未来》所写到：“我们的注意力与信心正在转向网络中的个体（Me），而远离传统的公司与他们的品牌。” <br><br>
                　　helome提供个体与个体之间的服务交流平台；提供搜索服务标签精准地找到服务者；提供文字、图片、语音、视频等多种交流方式；提供个体诚信度和知名度的积累。<br><br>
                　　helome致力于打造一个让所有me长期共赢的平台，在这里，每个me既可以寻求专业的帮助提升自我，也能够通过帮助他人实现价值。

                </p>
                    
                <div class="intro-wrap">
                    <div class="doc-subtitle">产品特性</div>

                    <div class="intro-inner clearfix">
                        
                        <div class="index-intro">
                            <div><i class="intro-bg intro-bg-serv"></i></div>
                            <div class="intro-info">
                                <p class="intro-title-title">全球服务</p>
                                <p class="intro-title-text">集结全球各行各业服务者，<br>为您提供全方位解决方案！</p>
                            </div>
                        </div>
                        <div class="index-intro">
                            <div><i class="intro-bg intro-bg-video"></i></div>
                            <div class="intro-info">
                                <p class="intro-title-title">实时视频</p>
                                <p class="intro-title-text">无论您在何时何地，<br>连上网络就可以实时和服务者视频！</p>
                            </div>
                        </div>
                        <div class="index-intro bn">
                            <div><i class="intro-bg intro-bg-platform"></i></div>
                            <div class="intro-info">
                                <p class="intro-title-title">帮助平台</p>
                                <p class="intro-title-text">一站式服务帮助平台，<br>让您足不出户就能享受便捷！</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--关于我们结束-->
            <!--联系我们开始-->
            <div class="contact-us">
                <h3>联系我们</h3>
                <div class="contact-us-block">
                    <i class="a-icon-company"></i>
                    <h4>中国总部</h4>
                    <p>四川·成都武侯区世纪城南路599号软件园D7</p>
                </div>
                <div class="contact-us-block">
                    <i class="a-icon-cooperate"></i>
                    <h4>电话</h4>
                    <p>400-869-3599</p>
                </div>
                <div class="contact-us-block">
                    <i class="a-icon-tel"></i>
                    <h4>邮箱</h4>
                    <p>me@Html("@")helome.com</p>
                </div>
                <div class="contact-us-block">
                    <i class="a-icon-weibo"></i>
                    <h4>微博</h4>
                    <p>@Html("@")helome服务交易平台</p>
                </div>
                <div class="contact-us-block">
                    <i class="a-icon-weixin"></i>
                    <h4>微信</h4>
                    <p>helome服务交易平台</p>
                </div>
            </div>
            <!--联系我们结束-->
            <!--工作机会开始-->
            <div class="job-chance">
                <div class="job-header">
                    <h3>工作机会</h3>
                    <div class="dev-fillet">
                        <span>请发送简历作品集至<i></i>jobs@Html("@")helome.com</span>
                    </div>
                </div>
                <div class="doc-list doc-box">
                    <div class="doc-list-block">
                        <h2 class="J-job-title"><em></em><span class="title">招聘专员</span></h2>
                        <div class="content hide J-job-dep">
                            <p class="txt-bold">职位描述：</p>
                            <p>1、根据公司人力资源规划，拟定招聘计划；</p>
                            <p>2、拓展、管理、维护招聘渠道；</p>
                            <p>3、实施招聘工作，发布招聘广告、进行简历筛选、评估候选人并提供初步面试报告；</p>
                            <p>4、定期分析招聘效果，提出招聘质量改善方案；</p>
                            <p>5、负责甄别、选择、建立和维护招聘渠道，确保招聘满足率;  </p>
                            <p>6、收集人才信息，建立完善的人才资料库，确保充足的储备人才。</p>
                            <p>&nbsp;</p>
                            <p class="txt-bold">职位要求：</p>
                            <p>1、大专及以上学历，人力资源或计算机等相关专业；</p>
                            <p>2、二年以上IT行业招聘工作经验，有互联网行业经验优先；</p>
                            <p>3、掌握工作分析技能、招聘渠道开拓及面试等技巧；</p>
                            <p>4、具备良好的招聘面试技巧，能独立面试和甄选；</p>
                            <p>5、熟悉招聘流程及各种招聘渠道，具备独立设计招聘方案和执行的能力；</p>
                            <p>6、思维敏捷、表达能力强，具有较强的沟通协调能力；</p>
                            <p>7、具有较强的文字撰写、数据统计和分析能力。</p>
                        </div>
                    </div>
                    <div class="doc-list-block">
                        <h2 class="J-job-title"><em></em><span class="title">IOS研发主管(Ipad)</span></h2>
                        <div class="content  hide J-job-dep">
                            <p class="txt-bold">职位描述：</p>
                            <p>1、IOS (for iPad)平台下客户端应用程序开发、技术架构、基础平台的搭建等，以及代码编写、测试及维护；</p>
                            <p>2、负责团队成员、技术骨干的带领、培养、技术指导等；</p>
                            <p>3、根据公司文档规范编写产品的设计文档和相应的技术文档；</p>
                            <p>4、不断学习iPhone/iPad/iPod/iTouch等新产品开发技术，了解行业发展趋势，跟踪技术发展方向。</p>
                            <p>&nbsp;</p>
                            <p class="txt-bold">岗位要求：</p>
                            <p>1、计算机相关专业本科及以上毕业；</p>
                            <p>2、熟悉C/C++语言，熟悉面向对象程序设计思想、软件开发流程和质量管理流程；</p>
                            <p>3、熟练掌握Objective-C、C++、C#等，2年以上iOS平台开发经验；</p>
                            <p>4、熟悉MacOS，Xcode及iPhone & ipad SDK开发环境，熟悉Iphone/IPad平台UI和网络开发；</p>
                            <p>5、熟悉各种算法与数据结构，熟悉多线程及网络编程（Socket，HTTP协议等)；</p>
                            <p>6、具备较强的学习能力和沟通能力，具备较好的团队合作能力；有责任感，工作态度严谨，能够高效完成工作任务；</p>
                            <p>7、开发基础良好，对软件性能优化、内存优化有一定了解，熟悉应用程序的维护和调试；</p>
                            <p>8、有良好的面向对象分析、设计能力、规范的编程风格和良好文档习惯；</p>
                            <p>9、对新技术持有敏感性，愿意致力于新技术的探索和研究；</p>
                            <p>10、有即时通讯项目和IOS应用开发作品经验的优先。</p>
                        </div>
                    </div>
                    <div class="doc-list-block">
                        <h2 class="J-job-title"><em></em><span class="title">web开发工程师</span></h2>
                        <div class="content  hide J-job-dep">
                            <p class="txt-bold">职位描述：</p>
                            <p>1、利用HTML/CSS/JavaScript等各种Web技术进行产品的界面开发；</p>
                            <p>2、制作标准优化的代码，并增加交互动态功能；</p>
                            <p>3、进行丰富互联网的Web开发，致力于通过技术改善用户体验；</p>
                            <p>4、参与讨论制订Web前端框架。</p>
                            <p>&nbsp;</p>
                            <p class="txt-bold">岗位要求：</p>
                            <p>1、大学本科以上学历；3年以上从事网站开发工作经验；</p>
                            <p>2、精通各类Web前端开发技术，包括javascript、Ajax、css等web开发领域相关技术，对javascript框架应用（如jQuery/YUI/Ext /等）有一定的经验；</p>
                            <p>3、精通对象模型，了解JQuery；对css/JavaScript性能优化、解决多浏览器兼容性问题有一定的经验；</p>
                            <p>4、对用户体验、交互操作流程、及用户需求有一定了解；精通HTTP协议；精通网站性能优化，技术体验优化；</p>
                            <p>5、对符合web标准的网站重构、网站管理软件有丰富经验，有成功案例；熟悉图像处理软件与网页编辑软件；</p>
                            <p>6、对服务端开发（如cgi、net、php等）熟悉并具有linux等相关平台下开发经验者优先；</p>
                            <p>7、有良好的沟通能力和团队协作精神，能承受较大的工作压力；备良好的服务意识、责任心、较强的学习能力、优秀的团队沟通与协作能力。</p>
                            <p>具有大型网站工作经验者优先。</p>
                        </div>
                    </div>
                    <div class="doc-list-block">
                        <h2 class="J-job-title"><em></em><span class="title">客服主管</span></h2>
                        <div class="content  hide J-job-dep">
                            <p class="txt-bold">职位描述：</p>
                            <p>1、使用公司的线上系统，对用户进行培训和操作指导。在系统初始阶段，更多的对用户进行培训和系统的初始配置，运营阶段指导用户合理的使用系统，收集客户需要更改的一些信息，与后台技术人员进行交互，修改后台数据；</p>
                            <p>2、协助维护行业档案资料；</p>
                            <p>3、跟踪并整理行业企业资料；</p>
                            <p>4、通过在线IM和电话的形式为客户提供系统使用的支持 。</p>
                            <p>&nbsp;</p>
                            <p class="txt-bold">岗位要求：</p>
                            <p>1、很强的沟通技能；</p>
                            <p>2、熟练使用网络和Office工具 (Word, Excel, PPT) ；</p>
                            <p>3、快速学习能力；</p>
                            <p>4、对软件开发有简单了解；</p>
                            <p>5、有企业软件基本知识或企业IM软件客服经验优先。</p>
                        </div>
                    </div>
                    <div class="doc-list-block">
                        <h2 class="J-job-title"><em></em><span class="title">市场总监</span></h2>
                        <div class="content  hide J-job-dep">
                            <p class="txt-bold">职位描述：</p>
                            <p>1、负责公司软件及互联网产品渠道代理商和大客户的拓展、试用谈判、合同谈判及销售工作；</p>
                            <p>2、熟悉经销商管理，能独立处理市场问题、熟悉市场营运流程，对网点建设维护、促销活动的制定实施有较强的能力；</p>
                            <p>3、完成公司下达的渠道拓展、用户指标、销售任务和收入指标；</p>
                            <p>4、老客户的巩固与深入跟进及新客户的开发能力;</p>
                            <p>5、协助公司制定渠道策略，提供渠道服务支持，依据营销计划，执行销售和市场推广方案。</p>
                            <p>&nbsp;</p>
                            <p class="txt-bold">岗位要求：</p>
                            <p>1、3年以上企业级软件渠道销售及管理经验，3年以上大客户销售经验；</p>
                            <p>2、有良好的销售技巧、客户关系管理能力；</p>
                            <p>3、熟悉网络营销、广告，具备独立制定网络营销方案能力；</p>
                            <p>4、强烈的进取心态和快速学习的能力；</p>
                            <p>5、拥有一定数量企业应用软件销售渠道者优先。</p>
                        </div>
                    </div>
                    <div class="doc-list-block">
                        <h2 class="J-job-title"><em></em><span class="title">高级IOS开发工程师</span></h2>
                        <div class="content  hide J-job-dep">
                            <p class="txt-bold">职位描述：</p>
                            <p>1、设计、开发、测试iOS平台应用软件；</p>
                            <p>2、根据任务需求完成独立模块的开发；</p>
                            <p>3、技术难点攻关和技术建议；</p>
                            <p>4、编写维护相关文档。</p>
                            <p>&nbsp;</p>
                            <p class="txt-bold">岗位要求：</p>
                            <p>1、本科及以上学历，计算机相关专业、三年以上工作经验；</p>
                            <p>2、两年以上IOS应用开发经验；</p>
                            <p>3、对OOP，多线程编程，内存管理，性能优化，单元测试有实际项目经验；</p>
                            <p>4、具备良好的团队合作意识；</p>
                            <p>5、良好的问题分析和解决能力；</p>
                            <p>6、熟悉敏捷及迭代式开发，有C/C++经验，有WebRTC for iOS相关经验优先。</p>
                        </div>
                    </div>
                    <div class="doc-list-block">
                        <h2 class="J-job-title"><em></em><span class="title">高级安卓开发工程师</span></h2>
                        <div class="content  hide J-job-dep">
                            <p class="txt-bold">职位描述：</p>
                            <p>1、负责Android应用产品的研发工作；</p>
                            <p>2、负责Android终端现有功能的实现，维护及新功能模块的开发；</p>
                            <p>3、负责程序框架设计和开发；</p>
                            <p>4、负责承担版本的系统设计、性能调优等工作。</p>
                            <p>&nbsp;</p>
                            <p class="txt-bold">岗位要求：</p>
                            <p>1、精通JAVA编程语言；</p>
                            <p>2、有二年以上Android平台开发经验，深入了解Android SDK和Android Framework；</p>
                            <p>3、熟练掌握eclipse、svn；</p>
                            <p>4、熟练掌握数据库、xml、json等常用技术；</p>
                            <p>5、了解socket，HTTP网络通信，熟悉网络编程和多任务编程；</p>
                            <p>6、了解常用设计模式和面向对象编程思想；</p>
                            <p>7、英语良好，能无障碍阅读英语资料和文档者优先。</p>
                        </div>
                    </div>
                    <div class="doc-list-block">
                        <h2 class="J-job-title"><em></em><span class="title">中级软件测试工程师</span></h2>
                        <div class="content  hide J-job-dep">
                            <p class="txt-bold">职位描述：</p>
                            <p>1、根据公司的产品需求及设计文档，设计测试方案；</p>
                            <p>2、编写并执行测试用例、编写测试报告；</p>
                            <p>3、缺陷跟踪及验证，并执行回归测试；</p>
                            <p>4、执行自动化测试。</p>
                            <p>&nbsp;</p>
                            <p class="txt-bold">岗位要求：</p>
                            <p>1、能独立设计测试用例并执行；</p>
                            <p>2、了解自动化测试框架，会使用自动化测试工具（如：QTP，Selenium）；</p>
                            <p>3、熟悉数据库操作，会使用简单SQL命令；</p>
                            <p>4、有一定编程（或脚本）语言基础；</p>
                            <p>5、熟悉LINUX操作系统，会使用简单命令；</p>
                            <p>6、2年以上web测试经验；</p>
                            <p>7、具有良好的沟通、协调和分析问题能力；</p>
                            <p>8、具备良好的团队协作精神、责任心。</p>
                        </div>
                    </div>
                    <div class="doc-list-block">
                        <h2 class="J-job-title"><em></em><span class="title">高级软件测试工程师</span></h2>
                        <div class="content  hide J-job-dep">
                            <p class="txt-bold">职位描述：</p>
                            <p>1、根据公司的产品需求及设计文档，设计测试方案；</p>
                            <p>2、编写并执行测试用例、编写测试报告；</p>
                            <p>3、缺陷跟踪及验证，并执行回归测试；</p>
                            <p>4、搭建自动化测试环境；</p>
                            <p>5、版本部署集成；</p>
                            <p>6、维护持续集成环境。</p>
                            <p>&nbsp;</p>
                            <p class="txt-bold">岗位要求：</p>
                            <p>1、能独立设计测试用例并执行；</p>
                            <p>2、了解自动化测试框架，会使用自动化测试工具（如：LR, QTP，Selenium）；</p>
                            <p>3、熟悉数据库操作，会使用SQL命令；</p>
                            <p>4、有一定编程（或脚本）语言基础；</p>
                            <p>5、熟悉LINUX操作系统，会使用简单命令；</p>
                            <p>6、3年以上web测试经验；</p>
                            <p>7、熟悉Hudson/Jenkins持续环境搭建。</p>
                        </div>
                    </div>
                    <div class="doc-list-block">
                        <h2 class="J-job-title"><em></em><span class="title">高级手机测试工程师</span></h2>
                        <div class="content  hide J-job-dep">
                            <p class="txt-bold">职位描述：</p>
                            <p>1、根据产品的需求文档进行需求分析，评审需求，主动与项目管理者针对产品需求提出测试建议；</p>
                            <p>2、负责制定测试计划和测试用例编写；</p>
                            <p>3、根据测试计划执行测试用例、并分析提交测试结果，发布测试报告；</p>
                            <p>4、使用缺陷跟踪工具报告 Bug并且跟踪统计Bug状态；</p>
                            <p>5、负责培训初级工程师进行功能测试，性能测试。</p>
                            <p>&nbsp;</p>
                            <p class="txt-bold">岗位要求：</p>
                            <p>1、3-4年测试经验，2年以上手机测试测试经验；</p>
                            <p>2、具有android手机平台或者IOS 手机平台测试经验,IOS优先；</p>
                            <p>3．熟悉scrum流程，具有scrum实施经验，一年以上测试项目管理经验；</p>
                            <p>4、熟练使用测试案例和bug管理工具，例如JIRA，Testlink；</p>
                            <p>5、熟练android或者IOS 平台的性能测试，会自动化测试者优先考虑；</p>
                            <p>6、具有web端测试经验者优先。</p>
                        </div>
                    </div>
                    <div class="doc-list-block">
                        <h2 class="J-job-title"><em></em><span class="title">中级手机测试工程师</span></h2>
                        <div class="content  hide J-job-dep">
                            <p class="txt-bold">职位描述：</p>
                            <p>1、根据产品的需求文档进行需求分析，主动与项目管理者针对产品需求提出测试建议；</p>
                            <p>2、负责测试用例的编写与规划；</p>
                            <p>3、根据测试计划执行测试用例、并分析提交测试结果；</p>
                            <p>4、使用缺陷跟踪工具报告 Bug并且跟踪统计Bug状态；</p>
                            <p>5、负责培训初级工程师进行功能测试。</p>
                            <p>&nbsp;</p>
                            <p class="txt-bold">岗位要求：</p>
                            <p>1、2-3年测试经验，2年以上手机测试测试经验；</p>
                            <p>2、具有android手机平台或者IOS 手机平台测试经验；</p>
                            <p>3、熟悉scrum流程，具有scrum实施经验，一年以上测试项目管理经验；</p>
                            <p>4、熟练使用测试案例和bug管理工具，例如JIRA，Testlink；</p>
                            <p>5、熟练android或者IOS 平台的性能测试，会自动化测试者优先考虑；</p>
                            <p>6、具有web端测试经验者优先。</p>
                        </div>
                    </div>
                    <div class="doc-list-block">
                        <h2 class="J-job-title"><em></em><span class="title">高级UE设计师</span></h2>
                        <div class="content  hide J-job-dep">
                            <p class="txt-bold">职位描述：</p>
                            <p>1、负责产品线的交互设计，分析用户的操作习惯和偏好，从用户体验的角度出发，提出最佳的交互设计、界面设计及操作流程方案；</p>
                            <p>2、负责管理产品的体验，跟踪产品的体验效果数据，不断发掘新的用户需求、提出优化产品体验的想法并付诸实现，持续改善产品的用户体验；</p>
                            <p>3、负责产品可用性优化改进，进行用户体验设计，交互体验设计；</p>
                            <p>4、进行可用性设计，进行测试工作和完成报告，给出产品和项目的改进建议；</p>
                            <p>5、负责基于对用户需求的研究，提供产品分析结论和展望，将结果转变为可执行的用户体验优化方案；</p>
                            <p>6、独立完成具体的页面UE策划，过程图原型图等，并考虑UI设计实现与技术实现方案。</p>
                            <p>&nbsp;</p>
                            <p class="txt-bold">岗位要求：</p>
                            <p>1、具有对互联网产品交互用户体验的设计心得，了解互联网用户心理和行为习惯，了解如何改进用户体验，和对用户使用习惯进行分析挖掘引导的思维能力；</p>
                            <p>2、本科以上学历，计算机、设计等相关专业优先，3年以上互联网产品的UE领域工作经验；</p>
                            <p>3、熟悉Axure、Photoshop、visio等工具软件，掌握HTML语言、DIV、CSS、XHTML等技术并能熟练使用设计软件制作交互原型；</p>
                            <p>4、具备较强的逻辑思维和总结归纳能力；</p>
                            <p>5、工作积极主动、责任感强，能承受工作压力，愿意承担具有挑战性的工作；</p>
                            <p>6、优秀的沟通及表达能力，有良好的团队合作精神及独立工作及研究能力。</p>
                            <p>有互联网产品设计经验优先考虑。</p>
                        </div>
                    </div>
                    <div class="doc-list-block">
                        <h2 class="J-job-title"><em></em><span class="title">前端开发工程师</span></h2>
                        <div class="content  hide J-job-dep">
                            <p class="txt-bold">职位描述：</p>
                            <p>1、在前端经理的带领下，基于现有架构进行新功能的开发与现有bug的修复；</p>
                            <p>2、根据UI设计师的效果图构建“精确”的网页；</p>
                            <p>3、根据UE线框图实现交互开发；</p>
                            <p>4、配合后端开发人员完成异步数据的增删改查。</p>
                            <p>&nbsp;</p>
                            <p class="txt-bold">岗位要求：</p>
                            <p>1、具有对互联网产品交互用户体验的设计心得，了解互联网用户心理和行为习惯，了解如何改进用户体验，和对用户使用习惯进行分析挖掘引导的思维能力；</p>
                            <p>2、本科以上学历，计算机、设计等相关专业优先，3年以上互联网产品的UE领域工作经验；</p>
                            <p>3、熟悉Axure、Photoshop、visio等工具软件，掌握HTML语言、DIV、CSS、XHTML等技术并能熟练使用设计软件制作交互原型；</p>
                            <p>4、具备较强的逻辑思维和总结归纳能力；</p>
                            <p>5、工作积极主动、责任感强，能承受工作压力，愿意承担具有挑战性的工作；</p>
                            <p>6、优秀的沟通及表达能力，有良好的团队合作精神及独立工作及研究能力。</p>
                            <p>有互联网产品设计经验优先考虑。</p>
                        </div>
                    </div>
                    <div class="doc-list-block">
                        <h2 class="J-job-title"><em></em><span class="title">音视频开发专家</span></h2>
                        <div class="content  hide J-job-dep">
                            <p class="txt-bold">职位描述：</p>
                            <p>熟悉网络通信原理，有比较好的逻辑思维能力，熟悉c/c++，有5年以上音视频开发经验更佳。</p>
                            <p>&nbsp;</p>
                            <p class="txt-bold">进阶要求：</p>
                            <p>音视频专家，熟悉编解码，RTP，RTCP等协议，有流媒体服务器等开发经验更佳 ，有成熟音视频产品7年以上开发经验。</p>
                        </div>
                    </div>
                    <div class="doc-list-block">
                        <h2 class="J-job-title"><em></em><span class="title">高级音视频开发工程师</span></h2>
                        <div class="content  hide J-job-dep">
                            <p class="txt-bold">职位描述：</p>
                            <p>在研发经理的带领下，参与音视频模块的设计与实现。按照软件开发管理规范，完成程序开发、测试及文档工作。</p>
                            <p>&nbsp;</p>
                            <p class="txt-bold">岗位要求：</p>
                            <p>1、5年及以上Java或者C/C++开发经验,熟悉Javascript；</p>
                            <p>2、熟悉分布式系统的设计和应用，熟悉分布式、缓存、消息等机制；能对分布式常用技术进行合理应用，解决问题；</p>
                            <p>3、掌握多线程及高性能的设计与编码及性能调优；有高并发应用开发经验；</p>
                            <p>4、熟悉网络编程，熟悉通信协议，了解webRTC，视频编码优先；</p>
                            <p>5、良好的沟通技能，团队合作能力，勤奋好学；</p>
                            <p>6、良好的英文资料阅读能力。</p>
                        </div>
                    </div>
                    <div class="doc-list-block">
                        <h2 class="J-job-title"><em></em><span class="title">中级java工程师</span></h2>
                        <div class="content  hide J-job-dep">
                            <p class="txt-bold">职位描述：</p>
                            <p>1、负责公司监控系统、搜索引擎、用户中心的设计和编码工作；</p>
                            <p>2、负责产品中独立模块的设计和开发工作；</p>
                            <p>3、做好模块集成、单元测试、模块测试及确认工作。</p>
                            <p>&nbsp;</p>
                            <p class="txt-bold">岗位要求：</p>
                            <p>1、3年以上java开发经验；</p>
                            <p>2、熟悉Webwork/Struts2，Spring，Hibernate，ibatis，AJax等开源架构，熟悉HTML、Javascript、JSP、XML和Web service 编程；</p>
                            <p>3、熟悉常用设计模式，能够将设计模式应用到实际工作中；</p>
                            <p>4、熟悉常用web服务器，有memcached或Redis相关使用经验，有apache http server、nginx、haproxy至少一种服务器经验；</p>
                            <p>5、熟悉常用关系型数据库，对非关系型数据库有一定了解例如 HBASE、MongoDB；</p>
                            <p>6、有linux操作系统使用经验，如centos、ubuntu，会处理简单的shell编程；</p>
                            <p>7、有监控系统开发经验优先、有SNMP协议开发经验者优先；</p>
                            <p>8、有Grails开发经验者优先。</p>
                        </div>
                    </div>
                    <div class="doc-list-block">
                        <h2 class="J-job-title"><em></em><span class="title">中级UI设计师</span></h2>
                        <div class="content  hide J-job-dep">
                            <p class="txt-bold">职位描述：</p>
                            <p>1、负责用户界面设计制作以及各次级界面的延续性设计；</p>
                            <p>2、负责网站用户界面设计的整体视觉风格设定和界面布局设定；</p>
                            <p>3、负责产品中的背景、元素（图片、flash、图标等）的设计制作；</p>
                            <p>4、与开发团队配合，参与设计体验、交互呈现。</p>
                            <p>&nbsp;</p>
                            <p class="txt-bold">岗位要求：</p>
                            <p>1、熟练使用FLASH 软件,优秀的网页与软件UI设计水平，熟练设计各种风格图标；</p>
                            <p>2、良好的设计能力；有较强色彩搭配能力及审美能力，对UI设计有独到的见解；</p>
                            <p>3、能够熟练使用各类平面设计及网站制作软件，如：PHOTOSHOP、DREAMWEAVER、FLASH、Illustrator等；</p>
                            <p>4、具备一定的人机交互学、设计心理学知识为佳；</p>
                            <p>5、有手机UI设计经验者优先考虑。</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--工作机会结束-->

        </div>
    </div>

    @foot()
    <!--关于我们内容结束-->
</div>
<script type="text/javascript">
    ued_import('commonJs','js');
    ued_import('docPageJs','js');
</script>
</body>
</html>

