<!--footer开始-->
<div id="footer">
    <div class="container footer-inner clearfix">
        <div class="footer-left">
            <!--<p>Copyright &copy; 2014 helome. All Rights Reserved</p>-->
            <div class="footer-logo-box">
                <p class="footer-logo-date">&copy; 2014 </p>
                <div class="footer-logo index-icon index-icon-footlogo fl"></div>
            </div>

            <div class="fl ml20">
                <p class="footer-link">
                    
                    <a href="/aboutus">关于helome</a>  |
                    <a href="/aboutme2me">关于Me2Me</a>  |
                    <a href="http://blog.helome.com" target="_blank">博客</a>  |
                    <a href="/questions">常见问题</a>  |
                    <a href="/feedback" class="feedback">反馈建议</a>  |
                    <a href="/legalnotice">法律声明</a>
                </p>
                <a href="http://www.miibeian.gov.cn/" class="footer-code">蜀ICP备 14003761 号</a>
                <div class="footer-share">
                    <span class="footer-version">
                        <a href="http://www.helome.cn">中文版</a>
                        <span>|</span>
                        <a href="http://www.helome.us" target="_blank">English</a>
                    </span>
                    <a class="index-icon footer-weibo" href="http://weibo.com/u/5041959762"></a>
                    <div class="index-icon footer-weixin">
                        <img src="@routes.Assets.at("misc/images/footer-share-qrcode.png")" class="footer-weixin-code" />
                    </div>
                </div>
            </div>

        </div>
        <div class="footer-right clearfix">

            <div class="index-icon footer-dl-qrcode"></div>
            <div class="footer-dl-box">
                <h4>helome手机客户端</h4>
                <div>随时随地帮你，帮我，帮大家</div>
                <div class="footer-dl-btn-box">
                    <a href="http://android.helome.com/helome.apk" download="http://android.helome.com/helome.apk" class="index-icon footer-dl-android"></a>
                    <a class="index-icon footer-dl-apple"></a>
                </div>
            </div>

            <div class="count-script">
                <script type="text/javascript">
                    var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
                    document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F8c70c90b5442cef192c60d567d3da3f6' type='text/javascript'%3E%3C/script%3E"));
                </script>
            </div>
        </div>

    </div>

</div>
<!--footer结束-->