@()
<!DOCTYPE HTML>
<html lang="zh-cn">
<head>
    <meta charset="utf-8" />
    <title>常见问题 -- helome服务交流平台</title>
    <meta name="keywords" content="什么叫helome,什么叫me2me模式,常见问题,服务咨询,在线视频咨询,在线服务,服务交流平台">
    <meta name="description" content="helome是一个涵盖IT、教育、医疗、法律等众多领域的Me2Me模式综合服务交流平台。helome，来源于英文中的”Hello, Me”，寓意在互联网世界里的每个Me（个体）都可以参与到服务中，提升自我，实现价值。">
    <script type="text/javascript" src="@routes.Assets.at("misc/dist/v20131021/ued.import.js")" charset="utf-8"></script>
    <link rel="icon" href="@routes.Assets.at("/misc/images/favicon.ico")"/>
    <!--[if IE]><script type="text/javascript"> ued_import('canvasJs','js'); </script><![endif]-->
    <script type="text/javascript">
        ued_import('commonCss','css');
        ued_import('questionsCss','css');
    </script>
</head>
<body>
<div id="wrap">
    <!--头部开始-->
    @head("")
    <!--头部结束-->
    <div id="container" class="doc">
        <!--banner开始-->
        @banner()
        <!--banner结束-->
        <!--关于我们内容开始-->
        <div class="container doc-main mt20">
            <!--关于我们开始-->
            <div class="doc-title">常见问题</div>
            <!--关于我们结束-->

            <!--工作机会开始-->
            <div class="job-chance">
                <div class="doc-list">
                    <div class="doc-list-block">
                        <h2><em></em><span class="title">网站基础问题</span></h2>
                        <div class="content">

                            <div class="doc-block">
                                <div class="box-sub-title">1. 为什么叫helome？</div>
                                <p>helome，来源于英文中的”Hello, Me”，寓意在互联网世界里的每个Me（个体）都可以参与到服务与被服务中，提升自我，实现价值。</p>
                            </div>
                            
                            <div class="doc-block">
                                <div class="box-sub-title">2. helome的用途？</div>
                                <p>为个人与个人之间搭建一个免费的服务与交流平台，满足个体与个体之间服务交流的需求。</p>
                            </div>
                            
                            <div class="doc-block">
                                <div class="box-sub-title">3. 什么是Me2Me模式？</div>
                                <p>helome率先提出Me2Me模式，该模式是指在互联网尤其是移动互联网，个体与个体之间的服务交流。同时个体既可以是服务提供者，也可以是服务需求者，并且个体的价值与品牌不再依赖于公司的品牌而存在。</p>
                            </div>
                            
                            <div class="doc-block">
                                <div class="box-sub-title">4. Me2Me与传统的C2C有什么区别？</div>
                                <p>1）Me2Me指个人与个人之间服务的交易，而C2C指个人与个人之间货物的交易。</p>
                                <p>2）Me2Me中的服务交易是持续性过程，而C2C中的货物交易则是一次性交易。</p>
                                <p>3）Me2Me中关注个人的诚信度和知名度的积累与提升，而C2C更关注货物本身的价值。</p>
                                <p>4）Me2Me更容易在服务交易中产生社交行为。而C2C的社交性较弱。</p>
                            </div>

                        </div>
                    </div>

                    <div class="doc-list-block">
                        <h2><em></em><span class="title">账号相关问题</span></h2>
                        <div class="content">
                            
                            <div class="doc-block">
                                <div class="box-sub-title">1. 是否需要注册？</div>
                                <p>搜索或浏览服务者信息是不需要注册的。当您需要和服务者沟通交流，或想要成为服务者的时候才需要注册。</p>
                            </div>
                            
                            <div class="doc-block">
                                <div class="box-sub-title">2. 如何注册？</div>
                                <p>首先在官网首页的右上角点击“注册”入口</p>
                                <p><img src="@routes.Assets.at("/misc/images/questions/q_register_home.jpg")"></p>
                                <p>点击进入后，完成相关操作（如下图所示）即可成功注册。</p>
                                <p><img src="@routes.Assets.at("/misc/images/questions/q_register.jpg")"></p>
                            </div>
                            
                            <div class="doc-block" id="account3">
                                <div class="box-sub-title">3. 目前提供哪些注册方式？</div>
                                <p>为了方便您对密码的后续管理，目前暂时只提供“邮箱注册”方式。</p>
                            </div>
                            
                            <div class="doc-block">
                                <div class="box-sub-title">4. 注册账号需要实名认证吗？</div>
                                <p>helome注册目前暂时不需要进行实名认证。但建议您依然完善个人真实有效的身份证信息，以便提高个人的诚信度和知名度。</p>

                            </div>
                            <div class="doc-block">
                                <div class="box-sub-title">5. 是否存在其他登录方式？</div>
                                <p>选择快速登录下方的“新浪、QQ、豆瓣”等方式，可以进行快速登录。</p>
                            </div>
                            
                            <div class="doc-block">
                                <div class="box-sub-title">6. 如何绑定其他社交平台账号？</div>
                                <p>通过“个人中心—设置—SNS绑定”可以进行社交平台帐号绑定。</p>

                            </div>
                            <div class="doc-block" id="account7">
                                <div class="box-sub-title">7. 如何绑定手机？</div>
                                <p>在“个人中心“的”设置“中，选择绑定手机。</p>
                                <p><img src="@routes.Assets.at("/misc/images/questions/q_phone.jpg")"></p>
                            </div>
                            
                            <div class="doc-block">
                                <div class="box-sub-title">8. 如何找回密码？</div>
                                <p>在登录界面选择“忘记密码”，填入注册时使用的邮箱帐号，再输入验证码，点击提交。同时，请在绑定邮箱当中接收有验证链接的邮件，按照提示完成找回密码的操作。</p>

                            </div>
                            <div class="doc-block">
                                <div class="box-sub-title">9. 除了绑定邮箱，还可以使用什么方式找回密码？</div>
                                <p>目前暂时没有提供其他找回密码的途径，因此，还请您妥善保管好密码、邮箱信息。</p>
                            </div>
                            
                            <div class="doc-block" id="account10">
                                <div class="box-sub-title">10. 如何提高账号安全性？</div>
                                <p>1) 提高密码组成的复杂度，尽量将字母变换大小写，配合数字一起设置，并定期对密码进行修改。</p>
                                <p>2) 绑定手机。 </p>
                                <p>3) 在个人中心完善“安全提醒”。</p>
                                <p><img src="@routes.Assets.at("/misc/images/questions/q_set.jpg")"></p>
                                <p>4) 妥善保管好个人密码等安全信息，切勿透露给他人。</p>
                            </div>

                            <div class="doc-block" id="account11">
                                <div class="box-sub-title">11. 为什么我使用邮箱找回密码功能，提交后在绑定邮箱找不到邮件？</div>
                                <p>请进入绑定邮箱后，点击“垃圾箱”查看是否被邮箱系统自动拦截。</p>
                            </div>
                            
                            <div class="doc-block">
                                <div class="box-sub-title">12. 我的注册邮箱是乱填的，找不回密码怎么办？</div>
                                <p>目前我们暂时没有提供其他密码找回的途径，因此，请您尽量使用真实有效的邮箱信息进行注册，并妥善加以保管。</p>

                            </div>
                        </div>
                    </div>

                    <div class="doc-list-block" id="question_trade">
                        <h2><em></em><span class="title">充值与交易相关问题</span></h2>
                        <div class="content">
                            
                            <div class="doc-block">
                                <div class="box-sub-title">1. 服务收费方式有几种？</div>
                                <p>helome提供给服务者两种收费方式：免费和价格面议。</p>
                                <p>免费：表示对方提供的服务不会向您索取费用；</p>
                                <p>面议：表示需要您与对方根据服务的内容，由双方协商确认一个合适的价格后，通过个人中心的我的钱包转账功能一次性收费。</p>
                            </div>
                            
                            <div class="doc-block" id="trade2">
                                <div class="box-sub-title">2. 如何在helome中赚钱？</div>
                                <p>为他人提供咨询服务的过程中，双方达成共识后，您可以要求对方使用转账功能，支付您合理的费用。建议您在确认费用已支付到账后，再向对方继续提供正式的服务。</p>
                            </div>
                            
                            <div class="doc-block" id="trade3">
                                <div class="box-sub-title">3. 如何充值？</div>
                                <p>您可以通过“个人中心”—“我的钱包”充值功能进行充值。</p>
                                <p><img src="@routes.Assets.at("/misc/images/questions/q_money.jpg")"></p>
                            </div>
                            
                            <div class="doc-block">
                                <div class="box-sub-title">4. 如何从helome提现？</div>
                                <p>您可以通过“个人中心”—“我的钱包”提现功能进行支付宝提现申请，我们会在3个工作日内为您处理，在此提醒您请确保填写信息的准确性。</p>
                            </div>

                            <div class="doc-block">
                                <div class="box-sub-title">5. 如何转账？</div>
                                <p>您可以通过“个人中心”—“我的钱包”转账功能，填写对方在helome平台登录的邮箱帐号为其转账。</p>
                            </div>
                        </div>
                    </div>

                    <div class="doc-list-block" id="question_translate">
                        <h2><em></em><span class="title">翻译相关问题</span></h2>
                        <div class="content">

                            <div class="doc-block">
                                <div class="box-sub-title">1. 如果我不懂某国外文，如何把简历翻译并发布到国外？</div>
                                <p>您可以通过“个人中心”—“我的资料”上的“发布海外简历”按钮，您的个人简历将委托给嗨啰翻译中心，预计1-3个工作日翻译后，发布到helome国际版，方便
                                    国外用户更方便地找到您，国际版登录帐号密码和中文版一样。</p>
                                <p style="margin-left: 11px"><img src="@routes.Assets.at("/misc/images/questions/cn_resume.jpg")"></p>
                                <p><img src="@routes.Assets.at("/misc/images/questions/en_resume.jpg")"></p>
                            </div>
                        </div>
                    </div>

                    <div class="doc-list-block">
                        <h2><em></em><span class="title">网站使用指南</span></h2>
                        <div class="content">
                            
                            <div class="doc-block" id="guide1">
                                <div class="box-sub-title">1. 如何找到服务者？</div>
                                <p>1)在输入框内输入服务者姓名或服务标签，从搜索结果中挑选合适的服务者，查看他们的服务技能标签、个人说明。从对方的职业经历和其他用户对他的评价，您可以判断对方的专业技能水平。最后，挑选一名您中意的服务提供者，和他进行自由的交流，包括文字聊天、语音聊天和视频聊天，还可以自由向对方传输文件。</p>
                                <p>2)如果不知道服务者姓名和服务标签的情况下，可以在“所有服务者”页面，按照行业分类和热门标签进行浏览查找</p>
                            </div>
                            
                            <div class="doc-block" id="guide2">
                                <div class="box-sub-title">2. 如何提供服务?</div>
                                <p>首先，您需要注册成为helome会员。如果希望自己提供的服务请尽可能地被其他用户搜索到，请尽可能地完善自己的个人资料。其中，最关键的内容是个人说明和服务标签。如果其他用户搜索到了您的服务标签，您会被优先推荐给对方。</p>
                                <p>此外，请格外留意其他用户对自己的打分评价，这是您在Helome.com上所提供的服务质量高低的重要参数。</p>
                            </div>
                            
                            <div class="doc-block">
                                <div class="box-sub-title">3. 如何获得helome客服帮助？</div>
                                <p>点击首页左上方的“客服”标志，即可联系我们的客服人员为您提供咨询服务。</p>
                                <p><img src="@routes.Assets.at("/misc/images/questions/q_service_page.jpg")"></p>
                            </div>
                            
                            <div class="doc-block">
                                <div class="box-sub-title">4. 如何在搜索结果中排名靠前？</div>
                                <p>尽量完善您的个人资料，其中最重要的“姓名、服务标签”，当然您还可以完善“性别、国家、职业、个人说明、所属行业”；赚取更多的好评率。</p>
                            </div>

                            <div class="doc-block" id="guide5">
                                <div class="box-sub-title">5. 为什么无法打开咨询页面？</div>
                                <p>由于helome咨询服务包含语音以及视频功能，建议您使用兼容性更高的“google chrome”浏览器尝试。</p>
                            </div>

                            <div class="doc-block">
                                <div class="box-sub-title">6. 服务者提供哪些交流的方式？</div>
                                <p>目前helome支持文本、文件、视频、语音四种交流方式。</p>
                            </div>
                            <div class="doc-block" id="guide7">
                                <div class="box-sub-title">7.有视频头，却提示找不到视频设备，如何设置？</div>
                                <p>  google chrome：</p>
                                <p class="mt10"><img src="@routes.Assets.at("/misc/images/questions/video-chrome.png")"></p>
                                <p>
                                    进入视频聊天窗口，点击上图地址栏下方的“允许”。<br>
                                    如果上面点击“拒绝”，请到浏览器：<br>
                                    设置 --》 高级设置 --》 隐私设置 --》 内容设置 --》 媒体<br>
                                    ①麦克风/相机：选择您的视频头和麦克风设备<br>
                                    ②选择：[当网站要求使用您的摄像头和麦克风时询问您（推荐）]<br>
                                    ③打开管理例外情况，删掉有helome字样且被禁止的项目，点击“完成”<br>
                                    ④重试
                                </p>
                                <p class="mt20">  google chrome：</p>
                                <p  class="mt10"><img src="@routes.Assets.at("/misc/images/questions/video-firefox.png")"></p>
                                <p>
                                    ①点击上图地址栏下方的“共享选中的设备”<br>
                                    ②如果选择“不要共享”，请重试
                                </p>
                            </div>
                            <div class="doc-block" id="guide8">
                                <div class="box-sub-title">8. 如何创建多人会话？</div>
                                <p>您可以创建两种多人会话：翻译多人会话和临时多人会话</p>
                                <p>①翻译多人会话：如下图，您在右下角即时聊天工具上和某人1对1会话的时候，点击“黄色翻译图标”到“嗨啰翻译中心”选择一个翻译者点“√”按钮后，便会生成一个翻译多人会话。</p>
                                <p class="mt10"><img src="@routes.Assets.at("/misc/images/questions/q_mutil_session1.jpg")"></p>
                                <P>②临时多人会话：如下图，您在右下角即时聊天工具上点击下图“1”按钮会让您选择“圈”中好友，打“√”选择一个或一个以上好友后，点击下方“√”按钮，便会生成一个临时多人会话。</p>
                                <p class="mt10"><img src="@routes.Assets.at("/misc/images/questions/q_multiple_session2.jpg")"></p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!--工作机会结束-->

        </div>
    </div>

    @foot()
    <!--关于我们内容结束-->
</div>
<script type="text/javascript">
    ued_import('commonJs','js');
    ued_import('docPageJs','js');
</script>
</body>
</html>

