@()
<!DOCTYPE HTML>
<html lang="zh-cn">
<head>
    <meta charset="utf-8" />
    <title>法律声明 -- helome服务交流平台</title>
    <meta name="keywords" content="helome声明,me2me,服务交易,服务咨询,在线视频咨询,在线服务,法律声明">
    <meta name="description" content="helome是一个涵盖IT、教育、医疗、法律等众多领域的Me2Me模式综合服务交流平台。helome，来源于英文中的”Hello, Me”，寓意在互联网世界里的每个Me（个体）都可以参与到服务中，提升自我，实现价值。">
    <script type="text/javascript" src="@routes.Assets.at("misc/dist/v20131021/ued.import.js")" charset="utf-8"></script>
    <link rel="icon" href="@routes.Assets.at("/misc/images/favicon.ico")"/>
    <!--[if IE]><script type="text/javascript"> ued_import('canvasJs','js'); </script><![endif]-->
    <script type="text/javascript">
        ued_import('commonCss','css');
        ued_import('legalNoticeCss','css');
    </script>
</head>
<body>
<div id="wrap">
    <!--头部开始-->
    @head("")
    <!--头部结束-->
    <div id="container" class="doc">
        <!--banner开始-->
        @banner()
        <!--banner结束-->
        <div class="dev-content container doc-main">
            <div class="legal-top">
                <h1>法律声明</h1>
                <div class="legal-center"></div>
                <div class="legal-right">
                    <div class="legal-save">
                        <a href="@routes.Assets.at("misc/images/legalnotice.doc")"><img src="@routes.Assets.at("misc/images/icon-save.png")" alt="下载"></a>
                    </div>
                    <div class="legal-save">
                        <a href="javascript:print();"><img src="@routes.Assets.at("misc/images/icon-print.png")" alt="打印"></a>
                    </div>
                </div>
            </div>
            <div class="doc-list doc-box">
                <div class="doc-list-block">
                    <h2><em></em><span class="title">知识产权声明</span></h2>
                    <div class="content">
                        <p>1、嗨啰科技网络平台中的内容（包括但不限于网页、文字、图片、音频、视频、图表等）的知识产权归嗨啰科技所有，用户在使用服务中所产生的内容的知识产权归用户或相关权利人所有。</p>

                        <p>2、嗨啰科技为用户提供服务所依托软件的著作权、专利权及其他知识产权均归嗨啰科技所有。</p>

                        <p>3、嗨啰科技所使用的helome、hi等商业标识，已被嗨啰科技申请注册，其商标权归嗨啰科技所有。</p>
                        <p>4、上述及其他任何服务包含内容的知识产权均受到法律保护，未经嗨啰科技、用户或相关权利人书面许可，任何人不得以任何形式进行使用或创造相关衍生作品。</p>
                    </div>
                </div>
                <div class="doc-list-block">
                    <h2><em></em><span class="title">隐私权声明</span></h2>
                    <div class="content">
                        <p>嗨啰科技尊重并保护所有使用嗨啰科技平台服务用户的个人隐私权。为了给用户提供更准确、更有个性化的服务，嗨啰科技严格按照相关规定使用和披露用户的个人信息。对于和用户相关的以下信息：</p>
                        <p>用户注册或激活嗨啰科技平台登录账户时，在嗨啰科技平台提供的个人注册信息；在用户使用嗨啰科技平台服务，或访问嗨啰科技平台网页时，嗨啰科技自动接收并记录的用户的浏览器和计算机上的信息，包括但不限于用户的IP地址、浏览器的类型、使用的语言、访问时间、软硬件特征信息及用户需求的网页记录等数据。</p>
                        <p>嗨啰科技承诺不向其他第三方提供、出售、出租、分享或交易；不允许任何第三方以任何手段收集、编辑、出售或者无偿传播用户的个人信息；为服务用户的目的，嗨啰科技可能通过使用用户的个人信息，向用户提供可能感兴趣的信息。</p>
                    </div>
                </div>
                <div class="doc-list-block">
                    <h2><em></em><span class="title">其他声明</span></h2>
                    <div class="box-list content clearfix">

                        <p>1、任何单位或个人在使用嗨啰科技提供网络平台过程中，应自觉遵守国家法律法规，不得发布、传送、传播、储存危害国家安全统一、破坏社会稳定、违反公序良俗及其他任何违反国家法律法规的内容。不得侵害第三人权利，不得从事其他违法、违规活动。</p>

                        <p>2、网站上各行业专家、学者等相关个人及职业信息，由其个人自动上传，嗨啰科技仅对其进行形式审查，对其真实性、合法性不负责。</p>

                        <p>3、用户在使用嗨啰科技网络平台的过程中产生的一切纠纷，应自行解决，与嗨啰科技无关。</p>
                        <p class="remind">成都嗨啰科技有限公司提醒用户：在使用嗨啰科技各项服务前，务必仔细阅读并理解以上声明。如果用户使用嗨啰科技的各项服务，用户的使用行为将被视为对以上声明全部内容的认可。</p>
                        <span class="signed">成都嗨啰科技有限公司<br>2014年1月13日</span>
                    </div>
                </div>

            </div>
        </div>
    </div>
    @foot()
    <!--法律声明内容开始--> 
</div>
<script type="text/javascript">
    ued_import('commonJs','js');
    ued_import('docPageJs','js');
</script>
</body>
</html>

