<!DOCTYPE HTML>
<html lang="zh-cn">
<head>
    <meta charset="utf-8" />
    <title>手机客户端下载 -- helome服务交流平台</title>
    <meta name="keywords" content="helome手机客户端,helome app,me2me移动端,服务交易,服务咨询,在线视频咨询,在线服务">
    <meta name="description" content="helome是一个涵盖IT、教育、医疗、法律等众多领域的Me2Me模式综合服务交流平台。helome，来源于英文中的”Hello, Me”，寓意在互联网世界里的每个Me（个体）都可以参与到服务中，提升自我，实现价值。">
    <script type="text/javascript" src="@routes.Assets.at("misc/dist/v20131021/ued.import.js")" charset="utf-8"></script>
    <link rel="icon" href="@routes.Assets.at("/misc/images/favicon.ico")"/>
    <!--[if IE]><script type="text/javascript"> ued_import('canvasJs','js'); </script><![endif]-->
    <script type="text/javascript">
        ued_import('commonCss','css');
        ued_import('phoneCss','css');
    </script>
</head>
<body>
<div id="wrap">
    <!--头部开始-->
    @head("")
    <!--头部结束-->
    <div id="container">

        <div class="main">
            <div class="banner">
                <div class="container">
                    <div class="banner-btn-box">
                        <a href="http://android.helome.com/helome.apk" class="banner-android"></a>
                        <a href="" class="banner-apple"></a>
                        <div class="banner-qrcode"></div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="phone-info"></div>
            </div>
        </div>
    </div>
</div>
@foot()
    <script type="text/javascript">
        ued_import('commonJs','js');
        ued_import('docPageJs','js');
    </script>
</body>
</html>

