@()
<!DOCTYPE HTML>
<html lang="zh-cn">
<head>
    <meta charset="utf-8" />
    <title>helome用户注册协议 -- helome服务交流平台</title>
    <meta name="keywords" content="注册helome,me2me,服务交易,服务咨询,在线视频咨询,在线服务,开始使用helome">
    <meta name="description" content="helome是一个涵盖IT、教育、医疗、法律等众多领域的Me2Me模式综合服务交流平台。helome，来源于英文中的”Hello, Me”，寓意在互联网世界里的每个Me（个体）都可以参与到服务中，提升自我，实现价值。">
    <script type="text/javascript" src="@routes.Assets.at("misc/dist/v20131021/ued.import.js")" charset="utf-8"></script>
    <link rel="icon" href="@routes.Assets.at("/misc/images/favicon.ico")"/>
    <!--[if IE]><script type="text/javascript"> ued_import('canvasJs','js'); </script><![endif]-->
    <script type="text/javascript">
        ued_import('commonCss','css');
        ued_import('docCss','css');
    </script>
</head>
<body>
<div id="wrap">
    <!--头部开始-->
    @head("")
    <!--头部结束-->
    <div id="container" class="doc">

        <!--banner开始-->
        @banner()
        <!--banner结束-->
        <div class="container doc-main">
            <div class="doc-title">helome用户注册协议</div>
            <div class="doc-content">
                欢迎您使用嗨啰平台服务！<br><br>

                特别提示：<br>
                　　在您使用嗨啰平台服务之前，应认真阅读并遵守《嗨啰服务协议》（以下简称“本协议”），请您务必认真阅读、充分理解各条款内容，特别是免除或者限制责任的条款、争议解决和法律适用条款。协议中加大、加黑内容是您需要重点了解的，如您对协议内容有任何疑问，应向嗨啰客服咨询。<br>
                　　当您按照注册页面提示填写信息、阅读并同意本协议且完成全部注册程序后，或您按照激活页面提示填写信息、阅读并同意本协议且完成全部激活程序后，或您以其他嗨啰允许的方式实际使用嗨啰平台服务时，即表示您已充分阅读、理解并接受本协议的全部内容，并与嗨啰达成协议。您承诺接受并遵守本协议的约定， 您不能以未阅读本协议的内容或者未获得嗨啰对您问询的解答等理由，主张本协议无效，或要求撤销本协议。<br> <br>

                <b>一、 协议范围</b> <br><br>

                1、本协议由您与嗨啰平台的经营者（成都嗨啰科技有限公司）共同缔结，本协议具有合同效力，对于您与成都嗨啰科技有限公司具有法律约束力。嗨啰平台的经营者是指法律认可的经营嗨啰平台网站的责任主体，即成都嗨啰科技有限公司。嗨啰平台网站为域名为helome.com，本协议项下嗨啰平台的经营者（成都嗨啰科技有限公司）称为“嗨啰”。 <br><br>

                2、除另行声明外，嗨啰平台服务包含任何嗨啰及其关联公司提供的基于互联网以及移动互联网的相关服务，且均受本协议约束。如果您不同意本协议的约定，您应立即停止注册/激活程序或停止使用嗨啰平台服务。<br><br>

                3、本协议内容包括协议正文以及所有嗨啰已经发布或将来可能发布的声明、公告、通知以及各类规则（以下合称“嗨啰规则”或“规则”）。所有嗨啰规则均为本协议不可分割的组成部分，与本协议正文具有同等法律效力。<br><br>

                4、嗨啰有权根据需要随时修改本协议或制定各类规则，并以网站公示的方式进行公告，无需另行单独通知您。修改后的协议和新的嗨啰规则一经网站公布，立即或在公告明确的特定时间自动生效。若您在前述公告后继续使用嗨啰平台服务的，即表示您已经阅读、理解并接受已修订的协议和规则。若您不同意修改后协议或新制定的规则，应当立即停止使用嗨啰平台服务。<br><br>

                <b>二、 注册与账户</b><br><br>

                1、主体资格 <br>
                您确认，您使用嗨啰平台服务时，是具备完全民事权利能力和完全民事行为能力的自然人、法人或其他组织。若您不具备主体资格的自然人，您及您的监护人承担因此而导致的一切后果，且嗨啰有权注销或永久冻结您的账户。因您不具备前述主体资格而给嗨啰造成损失的，嗨啰有权向您及您的监护人索赔。<br><br>

                2、注册和账户<br>
                a）当您按照注册页面提示填写信息、阅读并同意本协议且完成全部注册程序后，或在您按照激活页面提示填写信息、阅读并同意本协议且完成全部激活程序后，或您以嗨啰允许的其他方式实际使用嗨啰平台服务时，您即受本协议约束。您可以使用您提供或确认的邮箱作为登录手段进入嗨啰平台。<br><br>

                b）您的登录名和密码不得以任何方式买卖、借用、赠与或继承，除非有法律明确规定或司法机关判决、裁定，并经嗨啰同意，且需提供嗨啰要求的合格的文件材料并按照嗨啰制定的操作流程或要求办理。<br><br>

                3、用户信息<br>
                a）在注册或激活流程时，您应当依照法律法规要求，按相应页面的提示提供您的资料，并于资料信息变更时及时更新，以保证您所提交资料的真实、及时、完整和准确。嗨啰有合理理由怀疑您提供的资料错误、不实、过时或不完整的，有权向您发出询问及/或要求改正的通知，并有权直接删除您相关资料，直至暂停、终止您提供部分或全部嗨啰平台服务。您承担因此产生的任何直接或间接损失及不利后果，嗨啰对此不承担任何责任。<br><br>

                b）您应当准确填写并及时按照嗨啰要求自行更新您提供的电子邮件地址、联系电话等联系方式，以便嗨啰或其他用户与您进行联系。以您提供的联系方式无法与您取得联系，导致您在使用嗨啰平台服务过程中产生任何损失或增加费用的，由您自行承担。您对此充分了解并同意，您保证所提供的联系方式的真实性和有效性。<br><br>

                4、账户安全<br>
                您须自行负责对您的登录名和密码保密，且须对您在该登录名和密码下发生的所有活动（包括但不限于信息披露、发布信息等）。您同意：(a) 如发现任何人未经授权使用您的登录名和密码，或发生违反保密规定的任何其他情况，您会立即通知嗨啰；及 (b) 确保您在每个上网时段结束时，以正确步骤离开网站。因您未能遵守本款规定而产生的任何损失由您自行承担。<br>
                您理解嗨啰应您请求而采取行动需要合理时间，对采取行动前已经产生的任何后果（包括但不限于您的任何损失），嗨啰不承担任何责任。<br><br>

                5、登录名注销<br>
                a）如您连续两年年未使用您的邮箱和密码登录过嗨啰平台，嗨啰有权注销您的登录名，嗨啰网站服务同时终止。<br><br>

                b）您同意并授权嗨啰，当您在嗨啰网站上有侵犯他人合法权益或其他违反法律法规、嗨啰网站规则等行为时，嗨啰有权注销您的登录名，嗨啰网站服务同时终止，并有权对侵权信息或内容采取删除、屏蔽、断开链接等必要措施。<br><br>

                <b>三、嗨啰平台服务</b> <br><br>

                1、通过嗨啰及其关联公司提供的嗨啰平台服务和其它服务，您可在嗨啰平台上发布服务信息、查询服务信息、进行即时服务交易、对服务进行评价、参加嗨啰组织的活动以及使用其它信息服务及技术服务，具体以所开通的平台提供的服务内容为准。<br><br>

                2、您通过嗨啰平台与其他会员发生服务交易纠纷时，您或其他会员任一方或双方共同提交嗨啰要求调处，嗨啰作为独立第三方，有权根据单方判断做出调处决定，您同意接受嗨啰的判断和调处决定。<br><br>

                3、您理解并同意，嗨啰有权应政府部门（包括司法及行政部门）的要求，向其提供您向嗨啰提供的个人信息和交易记录等必要信息。<br><br>

                4、您在使用嗨啰平台服务过程中，所产生的应纳税赋，以及一切硬件、软件、服务及其它方面的费用，均由您独自承担。<br><br>

                <b>四、嗨啰平台服务使用规范</b><br><br>

                1、在嗨啰平台上使用嗨啰服务过程中，您承诺遵守以下约定：<br><br>

                a)实施的所有行为均遵守中华人民共和国国家法律、法规、规章及地方法规、规章，不违背社会公共利益或公共道德，不损害他人的合法权益，不偷逃应缴税费，不违反本协议及嗨啰相关规则。<br><br>

                b)在与其他会员进行服务交易过程中，遵守诚实信用原则，不采取不正当竞争行为，不扰乱网上交易的正常秩序，不从事与网上交易无关的行为。<br><br>

                c) 不发布涉嫌侵犯他人知识产权或其它合法权益的任何信息，不发布违背社会公共利益或公共道德或嗨啰认为不适合在嗨啰平台上进行交易的任何信息，不发布其它涉嫌违法或违反本协议及各类规则的信息。<br><br>

                d)不以虚构或歪曲事实的方式不当评价其他会员，不采取不正当方式制造或提高自身的信用度，不采取不正当方式制造或提高（降低）其他会员的信用度。<br><br>

                e)不使用任何装置、软件或例行程序干预或试图干预嗨啰平台的正常运作或正在嗨啰平台上进行的任何交易、活动。不采取任何将导致不合理的庞大数据负载加诸嗨啰平台网络设备的行动。<br><br>

                2、您了解并同意：<br><br>

                a)您违反前述承诺所产生任何法律后果，您独立承担所有的法律责任，并保证嗨啰免于因此产生任何损失或增加费用。<br><br>

                b)基于维护嗨啰平台交易秩序及交易安全的需要，嗨啰有权在发生恶意扰乱市场正常交易秩序的情形下，执行包括但不限于关闭相应交易等操作。<br><br>

                c)经国家行政或司法机关的生效法律文书确认您存在违法或侵权行为，或者嗨啰根据自身的判断或任何第三方举报，认为您的行为涉嫌违反法律法规的规定或涉嫌违反本协议和/或规则的条款的，嗨啰有权对您采取包括但不限于删除、屏蔽、断开链接等措施。<br><br>

                d)如您在嗨啰平台上发布涉嫌违法、涉嫌侵犯他人合法权利或违反本协议和/或规则的信息的，嗨啰有权不经通知您即予以删除，且按照规则的规定进行处罚。<br><br>

                e)对于您违反本协议项下承诺，或您在嗨啰平台上实施的行为，包括您未在嗨啰平台上实施但已经对嗨啰平台及其用户产生影响的行为，嗨啰有权单方认定您行为的性质及是否构成对本协议和/或规则的违反，并根据单方认定结果适用规则予以处理或终止向您提供服务，且无须征得您的同意或提前通知您。您应自行保存与您行为有关的全部证据，并应对无法提供充分证据而承担不利后果。<br><br>

                f)如您涉嫌违反有关法律或者本协议之规定，使嗨啰遭受任何损失，或受到任何第三方的索赔，或受到任何行政管理部门的处罚，您应当赔偿嗨啰因此造成的损失和/或发生的费用，包括合理的律师费用。<br><br>

                <b>五、特别授权</b><br><br>

                您完全理解并不可撤销地授予嗨啰下列权利：<br><br>

                1、您完全理解并不可撤销地授权嗨啰，根据本协议及嗨啰规则的规定，处理您在嗨啰平台上发生的所有交易及可能产生的交易纠纷。您同意接受嗨啰的判断和调处决定。该决定将对您具有法律约束力。<br><br>

                2、您违反了本协议、嗨啰规则或违反了您向嗨啰作出任何形式的承诺，且嗨啰确认您违反了本协议、嗨啰规则或您对嗨啰的承诺，嗨啰有权立即按您的承诺或协议约定的方式对您的账户采取限制措施，包括中止或终止向您提供服务，并公示嗨啰确认的您的违约情况。您同意，嗨啰无须就相关确认与您核对事实，或另行征得您的同意，且嗨啰无须就此限制措施或公示行为向您承担任何的责任。<br><br>

                3、对于您提供的资料及数据信息，您授予嗨啰独家的、全球通用的、永久的、免费的许可使用权利 。此外，嗨啰有权(全部或部份地) 使用、复制、修订、改写、发布、翻译、分发、执行和展示您的全部资料数据（包括但不限于注册资料、交易行为数据及全部展示于嗨啰平台的各类信息等）或制作其派生作品，并以现在已知或日后开发的任何形式、媒体或技术，将上述信息纳入其它作品内。<br><br>

                <b>六、责任范围和责任限制</b><br><br>

                1、嗨啰负责按"现状"和"可得到"的状态向您提供嗨啰平台服务。但嗨啰对嗨啰平台服务不作任何明示或暗示的保证，包括但不限于嗨啰平台服务的适用性、持续性、准确性、可靠性、适用于某一特定用途。同时，嗨啰也不对嗨啰平台服务所涉及的技术及信息的有效性、准确性、正确性、可靠性、质量、稳定、完整和及时性作出任何承诺和保证。<br><br>

                2、您了解嗨啰平台上的信息系用户自行发布，且可能存在风险和瑕疵。嗨啰平台仅作为交易地点。嗨啰平台仅作为您获取服务信息，进行服务交易的场所，但嗨啰无法控制交易所涉及的服务质量，以及交易各方履行其在服务协议中各项义务的能力。您应自行谨慎判断确定相关服务及/或信息的真实性、合法性和有效性，并自行承担因此产生的责任与损失。<br><br>

                3、除非法律法规明确要求，或出现以下情形，否则，嗨啰没有义务对用户的信息数据、服务信息、交易行为以及与交易有关的其它事项进行事先审查：<br>
                a)嗨啰有合理的理由认为特定会员及具体交易事项可能存在重大违法或违约情形。<br><br>

                b)嗨啰有合理的理由认为用户在嗨啰平台的行为涉嫌违法或不当。<br><br>

                4、嗨啰基于您不可撤销地授权受理您与其他会员因交易产生的争议，并有权单方判断与该争议相关的事实及应适用的规则，进而作出处理决定。<br>
                您理解并同意，嗨啰是非司法机构，仅能以普通人的身份对证据进行认定，嗨啰对争议的调处完全是基于您不可撤销地授权。因处理决定给您造成损失的，您应自行承担。<br><br>

                5、您了解并同意，嗨啰不对因下述任一情形而导致您的任何损害赔偿承担责任，包括但不限于利润、商誉等方面的损失或其它无形损失的损害赔偿 (无论嗨啰是否已被告知该等损害赔偿的可能性) ：<br><br>

                a)使用或未能使用嗨啰平台服务。<br><br>

                b)第三方使用您的账户或更改您的数据。<br><br>

                c)通过嗨啰平台服务购买服务等行为或替代行为产生的费用及损失。<br><br>

                d)您对嗨啰平台服务的误解。<br><br>

                e)任何非因嗨啰的原因而引起的与嗨啰平台服务有关的其它损失。<br><br>

                6、不论在何种情况下，嗨啰均不对由于信息网络正常的设备维护，信息网络连接故障，电脑、通讯或其他系统的故障，电力故障，罢工，劳动争议，暴乱，，骚乱，火灾，洪水，风暴，爆炸，战争，政府行为，司法行政机关的命令或第三方的不作为而造成的不能服务或延迟服务承担责任。<br><br>

                <b>七、协议终止</b> <br><br>

                1、您同意，嗨啰有权不经事先通知自行决定以任何理由中止、终止向您提供部分或全部嗨啰平台服务，暂时冻结或永久冻结（注销）您的账户在嗨啰平台的权限，且无须为此向您或任何第三方承担任何责任。<br><br>

                2、出现以下情形时，嗨啰有权直接以注销账户的方式终止本协议，并有权永久冻结（注销）您的账户在嗨啰平台的权限：<br><br>

                a)嗨啰终止向您提供服务后，您涉嫌再一次直接或间接以他人名义注册为嗨啰用户的；<br><br>

                b)您提供的电子邮箱不存在或无法接收电子邮件，且没有其他方式可以与您进行联系，或嗨啰以其它联系方式通知您更改电子邮件信息，而您在嗨啰通知后三个工作日内仍未更改为有效的电子邮箱的；<br><br>

                c)您提供的用户信息中的主要内容不真实或不准确或不及时或不完整；<br><br>

                d)本协议（含规则）变更时，您明示并通知嗨啰不愿接受新的服务协议的；<br><br>

                e)其它嗨啰认为应当终止服务的情况。<br><br>

                3、您的账户服务被终止或者账户在嗨啰平台的权限被永久冻结（注销）后，嗨啰没有义务为您保留或向您披露您账户中的任何信息，也没有义务向您或第三方转发任何您未曾阅读或发送过的信息。<br><br>

                4、您同意，您与嗨啰的合同关系终止后，嗨啰仍享有下列权利：<br><br>

                a）继续保存您的用户信息及您使用嗨啰平台服务期间的所有交易信息。<br><br>

                b)您在使用嗨啰平台服务期间存在违法行为或违反本协议和/或规则的行为的，嗨啰仍可依据本协议向您主张权利。<br><br>

                <b>八、隐私权政策</b><br><br>

                嗨啰将在嗨啰平台公布并不时修订隐私权政策，隐私权政策构成本协议的有效组成部分。<br><br>

                <b>九、法律适用、管辖与其他</b> <br><br>

                1、本协议之效力、解释、变更、执行与争议解决均适用中华人民共和国大陆地区法律。<br><br>

                2、您与嗨啰平台的经营者产生争议的，您与嗨啰平台的经营者均同意以嗨啰平台经营者住所地人民法院为第一审管辖法院。<br><br>

                3、如本协议的中文版本和英文版本内容产生冲突，将以中文版本内容为准。

            </div>
        </div>
    </div>
    @foot()
    <!--法律声明内容开始-->
</div>
<script type="text/javascript">
    ued_import('commonJs','js');
    ued_import('docPageJs','js');
</script>
</body>
</html>