@()
<!DOCTYPE HTML>
<html lang="zh-cn">
<head>
    <meta charset="utf-8" />
    <title>充值、提现及转账服务协议 -- helome服务交流平台</title>
    <meta name="keywords" content="helome服务协议,me2me,服务交易,服务咨询,在线视频咨询,在线服务,服务交流平台">
    <meta name="description" content="helome是一个涵盖IT、教育、医疗、法律等众多领域的Me2Me模式综合服务交流平台。helome，来源于英文中的”Hello, Me”，寓意在互联网世界里的每个Me（个体）都可以参与到服务中，提升自我，实现价值。">
    <script type="text/javascript" src="@routes.Assets.at("misc/dist/v20131021/ued.import.js")" charset="utf-8"></script>
    <link rel="icon" href="@routes.Assets.at("/misc/images/favicon.ico")"/>
    <!--[if IE]><script type="text/javascript"> ued_import('canvasJs','js'); </script><![endif]-->
    <script type="text/javascript">
        ued_import('commonCss','css');
        ued_import('docCss','css');
    </script>
</head>
<body>
<div id="wrap">
    <!--头部开始-->
    @head("")
    <!--头部结束-->
    <div id="container" class="doc">
        <!--banner开始-->
        @banner()
        <!--banner结束-->
        <div class="container doc-main">
            <div class="doc-title">充值、提现及转账服务协议</div>
            
            <div class="doc-content">
                充值、提现及转账服务（以下简称本服务）是由成都嗨啰科技有限公司（以下简称本公司）向嗨啰用户提供的嗨啰软件系统（以下简称本系统）及(或)附随的服务代收代付的中介服务。本协议由您和本公司签订。<br><br>

                <b>一、声明与承诺</b><br><br>

                1、本协议已对与您的权益具有或可能具有重大关系的条款，及对本公司具有或可能具有免责或限制责任的条款用加大、加黑予以标注，请您仔细、认真研读。您确认，在您注册成为嗨啰用户以接受本服务，您已充分阅读、理解并接受本协议的全部内容，一旦您使用本服务，即表示您同意遵循本协议之所有约定。<br><br>

                2、您同意，本公司有权对本协议内容进行单方面的变更，并以在本网站公告的方式予以公布，无需另行单独通知您；若您在本协议内容公告变更后继续使用本服务的，表示您已充分阅读、理解并接受修改后的协议内容，也将遵循修改后的协议内容使用本服务；若您不同意修改后的协议内容，您应停止使用本服务。<br><br>

                3、您保证，在您同意接受本协议并注册成为嗨啰用户时，您已具有完全民事行为能力和完全民事权利能力。不具备前述条件的，您应立即终止注册或停止使用本服务。您在使用嗨啰服务时，应自行判断对方是否具备专业能力，自行决定是否与对方进行服务交易等，您应自行承担与此相关的所有风险。<br><br>

                4、您同意，您在嗨啰（域名为helome.com）平台上发生的所有服务交易，您不可撤销的授权由嗨啰按照与您达成的《嗨啰平台服务协议》约定以及嗨啰相关规则进行处理。同时，您不可撤销的授权嗨啰有权将争议款项的全部或部分支付给交易一方，给您造成的任何损失本公司均不承担责任。<br><br>

                <b>二、定义及解释</b><br><br>

                1、公司账户：是本公司在支付宝平台上设置的本公司支付宝账户，本公司设置的公司账户除遵守本协议约定之外，还应遵守支付宝的规定或约定。<br><br>

                2、用户账户：是您在支付宝平台上独立开设的自己的账户，由您自己保管登陆名及密码。您除遵守本协议约定之外，还应遵守支付宝的规定或约定。<br><br>

                3、充值：是指您用自己的支付宝账户向公司支付宝账户划拨一定数量的资金。<br><br>

                4、提现：您充值到公司账户的资金尚有剩余的，您可以根据自己的实际需要请求将该资金提取到您自己的支付宝账户。<br><br>

                5、转账：公司按照您的指示，把您在公司支付宝账户中的资金划拨到服务提供商的支付宝账户。<br><br>

                <b>三、嗨啰服务</b><br><br>

                1、嗨啰提供代管服务<br><br>

                您把您的资金由您的支付宝账户划拨到公司账户后，公司为您提供代管服务。<br><br>

                2、嗨啰提供即时支付服务<br><br>

                您使用转账服务是基于您对服务提供商的充分了解（包括但不限于对方的真实身份及专业能力、交易风险等），一旦您选择了服务提供商，接受了服务提供商的服务，就表明了你同意通过公司支付宝账户进行转账，转账是一种即时支付，这种支付方式是不可逆的，按照服务提供商约定的收费标准按分钟支付到服务提供商的账户。<br><br>

                您应当自行承担因您指示错误（失误）而导致的风险。本公司依照您指示并根据本协议的约定完成转账后，即完成了当次服务的所有义务，对于您与收款方之间产生的关于当次转账的任何纠纷不承担任何责任。<br><br>

                <b>四、 账户安全</b><br><br>

                由于你自己的支付宝账户是在支付宝平台上，您将对使用该账户及密码进行的一切操作及言论负完全的责任，与本公司无关。您同意：<br><br>

                1、您应当妥善保管您的支付宝登录名和密码及身份信息，对于因密码泄露、身份信息泄露所致的损失，由您自行承担。<br><br>

                2、您同意，如您发现有他人冒用或盗用您的支付宝登录名及密码或任何其他未经合法授权之情形，或发生与支付宝账户关联的手机或其他设备遗失或其他可能危及到支付宝账户资金安全情形时，应立即以有效方式通知支付宝公司，向支付宝申请暂停相关服务，对于您未能及时采取相应措施造成的损失，本公司不负任何责任。<br><br>

                3、您同意，基于运行和交易安全的需要，本公司可以暂时停止提供或者限制本服务部分功能,或提供新的功能。在任何功能减少、增加或者变化时，只要您仍然使用本服务，表示您仍然同意本协议或者变更后的协议。<br><br>

                4、本公司有权了解您使用本公司产品或服务的真实交易背景及目的，您应如实提供本公司所需的真实、全面、准确的信息；如果本公司有合理理由怀疑您提供虚假交易信息的，本公司有权暂时或永久限制您所使用的产品或服务的部分或全部功能。<br><br>

                5、支付宝平台经营者对您的账户及相关服务所采取的任何行为，均需由您与支付宝平台经营者之间解决，除法律法规要求或公权力机关指令规定外，本公司不介入您与支付宝平台经营者之间的任何纠纷或争议。<br><br>

                <b>五、嗨啰服务使用规则</b><br><br>

                为有效保障您使用本服务时的合法权益，您理解并同意遵守以下规则：<br><br>

                1、一旦您使用本服务，您即授权本公司代理您在您及（或）您指定人符合指定条件或状态时，支付款项给您指定人，或收取您指定人支付给您的款项。<br><br>

                2、您在使用本服务过程中，本协议内容、网页上出现的关于交易操作的提示或本公司发送到您手机的信息（短信）内容是您使用本服务的相关规则，您使用本服务即表示您同意接受本服务的相关规则。您了解并同意本公司有权单方修改服务的相关规则，而无须征得您的同意或单独另行通知您，您继续使用本服务表示您已同意修改后的相关规则；若您不同意修改内容，您应停止使用本服务。服务规则应以您使用服务时的页面提示（或发送到您手机的短信）为准，您同意并遵照服务规则是您使用本服务的前提。<br><br>

                3、本公司会以电子邮件（或发送短信）方式通知您交易进展情况以及提示您进行下一步的操作，但本公司不保证您能够收到或者及时收到该邮件（该短信），且不对此承担任何后果，因此，在交易过程中您应当及时登录到本网站查看和进行交易操作。因您没有及时查看和对交易状态进行修改或确认或未能提交相关申请而导致的任何纠纷或损失，本公司不负任何责任。<br><br>

                4、 本公司对您所交易的服务不提供任何形式的鉴定、证明的服务。除本协议另有规定外，如您与交易对方发生交易纠纷，您授权由本公司根据本协议及本网站上载明的各项规则进行处理。您为解决纠纷而支出的包括但不限于通讯费、文件复印费等均由您自行承担<br><br>

                5、本公司会将您委托本公司代管的款项，严格按照法律法规或有权机关的监管要求进行管理；除本协议另有规定外，不作任何其他非您指示的用途。<br><br>

                6、您确认并同意，您应自行承担您使用本服务期间由本公司保管、代付款项的货币贬值风险，并且本公司无须就此等款项向您支付任何孳息或其他对价。<br><br>

                <b>六、交易风险</b><br><br>

                1、在使用本服务时，若您或您的交易对方未遵从本服务条款或网站说明、交易页面中之操作提示、规则，本公司有权拒绝为您与交易对方提供相关服务，且本公司不承担损害赔偿责任。若发生上述状况，而款项已先行划付至您或他人的支付宝账户名下，您同意向本公司退回先行划付的款额。若因您的原因导致本公司事后追索的，您同意本公司有向您事后索回之权利，您应当承担本公司合理的追索费用。<br><br>

                2、因您的过错导致的任何损失由您自行承担，该过错包括但不限于：不按照交易提示操作，未及时进行交易操作，遗忘或泄漏密码，密码被他人破解，您使用的计算机被他人侵入等。<br><br>

                <b>七、服务费用</b><br><br>

                在您使用本服务时，为他人提供服务而获得收入时，本公司有权依照您获得收入的10%向您收取服务费用，该服务费用在向您支付时扣除。本公司拥有制订及调整服务费之权利，具体服务费用以您使用本服务时本网站上所列之收费方式公告或您与本公司达成的其他书面协议为准。<br><br>

                <b>八、交易认可</b><br><br>

                您认可公司支付宝账户的使用记录、交易金额数据等均以支付宝系统记录的数据为准。如您对该等数据存有异议的，应自您账户数据发生变动之日起三日内向本公司提出异议，并提供相关证据供本公司核实。<br><br>

                <b>九、嗨啰服务使用限制</b><br><br>

                1、您在使用本服务时应遵守中华人民共和国相关法律法规，不将本服务用于任何非法目的（包括用于禁止或限制交易物品的交易），也不以任何非法方式使用本服务。<br><br>

                2、您不得利用本服务从事侵害他人合法权益之行为，否则本公司有权拒绝提供本服务，且您应承担所有相关法律责任，因此导致本公司或本公司雇员、其他第三方受损的，您应承担赔偿责任。上述行为包括但不限于：<br><br>

                1）侵害他人名誉权、隐私权、商业秘密、商标权、著作权等合法权益。<br><br>

                2）冒用他人名义使用本服务。<br><br>

                3）提供赌博资讯或以任何方式引诱他人参与赌博。<br><br>

                4) 进行与您或交易对方宣称的交易内容不符的交易，或不真实的交易。<br><br>

                5) 从事任何可能含有电脑病毒或是可能侵害本服务系统、资料之行为。<br><br>

                6）其他违法、违规行为或本公司有正当理由认为不适当之行为。<br><br>

                7）从事任何可能含有电脑病毒或是可能侵害本服务系统、资料之行为。<br><br>

                8）其他本公司有正当理由认为不适当之行为。<br><br>

                <b>十、隐私权保护</b><br><br>

                本公司重视对用户隐私的保护。对于用户的相关个信息，予以保密。<br><br>

                <b>十一、系统中断或故障</b><br><br>

                本公司系统因下列状况无法正常运作，使您无法使用各项服务时，本公司不承担损害赔偿责任，该状况包括但不限于：<br><br>

                1、本公司在本网站公告之系统停机维护期间。<br><br>

                2、电信设备出现故障不能进行数据传输的。<br><br>

                3、因台风、地震、海啸、洪水、停电、战争、恐怖袭击等不可抗力之因素，造成本公司系统障碍不能执行业务的。<br><br>

                4、由于黑客攻击、电信部门技术调整或故障、网站升级、银行方面的问题等原因而造成的服务中断或者延迟。<br><br>

                <b>十二、责任范围及责任限制</b><br><br>

                1、本公司仅对本协议中列明的责任承担范围负责。<br><br>

                2、您明确因交易所产生的任何风险应由您与交易对方承担。<br><br>

                3、本公司不对交易服务及本服务提供任何形式的保证，包括但不限于以下事项：<br><br>

                1）交易服务符合您的需求。<br><br>

                2）本服务符合您的需求。<br><br>

                3）本服务不受干扰、及时提供或免于出错。<br><br>

                4、您经由本服务之使用下载或取得任何资料，应由您自行考量且自负风险，因资料之下载而导致您电脑系统之任何损坏或资料流失，您应负完全责任。<br><br>

                5、您自本公司及本公司工作人员或经由本服务取得之建议和资讯，无论其为书面或口头形式，均不构成本公司对本服务之保证。<br><br>

                6、在法律允许的情况下，本公司对于与本协议有关或由本协议引起的任何间接的、惩罚性的、特殊的、派生的损失（包括但不限于业务损失、收益损失、利润损失、商誉损失、或其他经济利益的损失），不论是如何产生的，也不论是由于对本协议的违约（包括违反保证）还是由侵权造成的，均不负有任何责任，即使事先已被告知此等损失的可能性。另外即使本协议规定的排他性救济没有达到其基本目的，也应排除本公司对上述损失的责任。<br><br>

                7、除本协议另有规定外，在任何情况下，本公司对本协议所承担的违约赔偿责任总额不超过向收取的当次服务费用总额。<br><br>

                8、除本协议另有规定或本公司另行书面同意外，您对本公司的委托及向本公司发出的指令均不可撤销。<br><br>

                <b>十三、法律适用与管辖</b><br><br>

                本协议之效力、解释、变更、执行与争议解决均适用中华人民共和国法律。因本协议产生之争议，均应依照中华人民共和国法律予以处理，并以本公司住所地人民法院为第一审管辖法院。<br><br>

            </div>
        </div>
    </div>
    @foot()
    <!--法律声明内容开始-->
</div>
<script type="text/javascript">
    ued_import('commonJs','js');
    ued_import('docPageJs','js');
</script>
</body>
</html>